<div class="container">
    <ul class="breadcrumbs-component">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Наши специалисты</a></li>
    </ul>
</div>