<div class="container">
    <nav class="pagination">
        <a class="page-numbers current" href="#">1</a>
        <a class="page-numbers" href="#">2</a>
        <a class="page-numbers" href="#">3</a>
    </nav>
</div>