/*
FONTS LOOP
 */


@font-face {
  font-family: 'FuturaBookC';
  src: url('../fonts/futurabookc.eot');
  src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futurabookc.woff2') format('woff2'),
  url('../fonts/futurabookc.woff') format('woff'),
  url('../fonts/futurabookc.ttf') format('truetype'),
  url('../fonts/futurabookc.svg#futurabookc') format('svg');
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/futurademic.eot');
  src: url('../fonts/futurademic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futurademic.woff2') format('woff2'),
  url('../fonts/futurademic.woff') format('woff'),
  url('../fonts/futurademic.ttf') format('truetype'),
  url('../fonts/futurademic.svg#futurademic') format('svg');
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'FuturaMediumC';
  src: url('../fonts/FuturaMediumC.woff2') format('woff2'),
  url('../fonts/FuturaMediumC.woff') format('woff');
}
@font-face {
  font-family: 'FuturaMediumC';
  src: url('../fonts/FuturaMediumC.woff2') format('woff2'),
  url('../fonts/FuturaMediumC.woff') format('woff');
}

$fb: 'FuturaBookC';
$fd: 'FuturaDemiC';
$fm: 'Futura';
$fmc: 'FuturaMediumC';
$rr:'Roboto-Regular'
