.view-header {
  position: relative;
  width: 100%;
  order: 1;
}
header {
  .mob-menu{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    .logo-box {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        max-width: 240px;
        img {
          width: 100%;
          height: auto;
        }
      }

      p {
        padding: 0 0 0 25px;
        opacity: 0.8;
        font: 14px $fb;
        color: #0b2d5b;
        @media(max-width: 768px){
          display: none;
        }
      }
    }
    .burger{
      width: 20px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      &.is-active{
      span{
        display: none;
        &:nth-child(2){
          display: block;
          background: transparent;
          &:before, &:after {
            position: absolute;
            left: 10px;
            content: ' ';
            height: 20px;
            top: 0;
            width: 2px;
            background-color: #333;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }

      }
      }
      span{
        width: 100%;
        height: 2px;
        background: #183a5d;
      }
    }
    @media(max-width: 1024px){
      display: flex;
    }
  }
  .top-menu {
    padding-top: 25px;
    @media(max-width: 1024px){
      display: none;
      padding-top: 0;
      flex-direction: column-reverse;
      align-items: flex-start;
      &.is-active{
        display: flex;
      }
    }

      .top--content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 1024px){
        flex-direction: column;
          margin-top: 20px;
          align-items: flex-start;
          padding-bottom: 20px;
        }
        .logo-box {
          display: flex;
          align-items: center;
          @media(max-width: 1024px){
            display: none;
          }
          a {
            display: flex;
            align-items: center;
            max-width: 240px;
            img {
              width: 100%;
              height: auto;
            }
          }

          p {
              padding: 0 0 0 25px;
            opacity: 0.8;
            font: 14px $fb;
            color: #0b2d5b;
          }
        }

        .select-container {
          display: flex;
          flex-direction: column;
          @media(max-width: 1024px){
            padding-left: 15px;
          }
          p{
            position: relative;
            &:after{
              background: url("#{$src}gps.jpg");
              content:'';
              position: absolute;
              left: -15px;
              top:calc(50% - 9px);
              width: 10px;
              height: 14px;
              background-size: 100% 100%;
            }
          }
          .select-row {
            display: flex;
            flex-direction: column;
            p {padding: 0;
              color: #000000;
              font: 16px $fb;
            }
          }
        }

        .time-work {
          display: flex;
          flex-wrap: wrap;
          @media(max-width: 1024px){
            display: none;
          }
          .img-box {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #b0b0b0;
            margin-right: 15px;
            svg {
              width: 18px;
              height: 18px;
              path {

              }
            }
          }
          .text-box{
            p {
              padding: 0;
              font:15px $fb;
              color: #000;
            }
          }
        }

        .social-box {
          display: flex;
          align-items: center;
          @media(max-width: 1024px){
            order: 2;
          }
          a {
            display: flex;
            align-items: center;
            width: 24px;
            height: 24px;
            justify-content: center;
            border-radius: 50%;
            background: #8596ad;
            text-decoration: none;
            margin: 0 5px;
            &:hover{
              background: #0b2d5b;
            }
            svg {
              height: 14px;
              width: auto;
              fill: #fff;

              path {
                fill: #fff;
              }
            }
          }
        }

        .phone-box {
          display: flex;
          align-items: center;
          @media(max-width: 1024px){
            margin: 20px 0;
          }
          .img-box {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #b0b0b0;
            margin-right: 15px;
            svg {
              width: 18px;
              height: 18px;
              path {

              }
            }
          }
          .text-box{
            display: flex;
            flex-direction: column;
           a {
             font: 18px/1 $fd;
             color: #0b2d5b;
             text-decoration: none;
              padding: 0;
             @extend .decoration-animate;
             &:before{
               background: #0b2d5b;;
             }
            }
          }

        }
      }

    .bottom--content {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      @media(max-width: 1024px){
        border: none;
      }
        ul {
          display: flex;
          justify-content: center;
          @media(max-width: 1024px){
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin: 0 26px;
            position: relative;
            @media(max-width: 1024px){
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }
            &:before{
              position: absolute;
              width: 6px;
              height: 6px;
              content:'';
              background: #5a5a5a;
              border-radius: 50%;
              left: -20px;
              top: calc(50% - 3px);
              @media(max-width: 1024px){
                top: 23px;
              }
            }
            a {
              padding: 17px 0;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              font: 17px $fb;
              color: #242424;
              @media(max-width: 1024px){
                text-align: left;
                padding: 10px 0;
              }
              &:hover{
                font-weight: 600;
              }
            }
            &:hover{
              & > ul{
                display: flex;
              }
            }
            & > ul{
              position: absolute;
              flex-direction: column;
              display: none;
              top: 100%;
              left: -20px;
              width: 217px;
              box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.17);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              z-index: 2;
              overflow: hidden;
              @media(max-width: 1024px){
                display: flex;
                box-shadow: none;
                position: relative;
                width: 100%;
              }
              li{
                height: 54px;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0;
                margin: 0;
                width: 100%;
                @media(max-width: 1024px){
                  align-items: flex-start;
                  height: 30px;
                  justify-content: center;
                }
                a{
                  padding: 0 15px;
                  @media(max-width: 1024px){
                    padding: 0;
                  }
                }
                &:before{
                  display: none;
                }
                &:hover{
                  background-color: rgb(96, 152, 175);
                  a{
                    color: #fff;
                  }
                }
              }
            }

          }
        }
    }
  }
}