.view-footer {
  position: relative;
  width: 100%;
  order: 3;
}
footer {
background: #6098af;
  flex: 0 0 auto;
  padding: 75px 0 55px;
  @media (max-width: 480px){
    padding: 35px 0;
  }
  &:before, &:after{
    display: none;
  }
  h3{
    color: #fff;
    font: 24px $fd;
    padding: 0 0 30px;
    @media (max-width: 1024px){
      text-align: center;
    }
  }
    .footer-content {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px){
        flex-direction: column;
        align-items: center;
      }
      .logo-box {
        max-width: 180px;
        a {
          display: flex;
          align-items: center;
          @media (max-width: 1024px){
            justify-content: center;
          }
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }
      }

      .footer-menu {

        h3 {
          color: #fff;
        }

        ul {
        display: flex;
          flex-wrap: wrap;
          li {
            width: calc(100% / 3);
            margin-bottom: 18px;
            @media (max-width: 1024px){
              text-align: center;
            }
            @media (max-width: 480px){
              width: calc(100% / 2);
          }
            a {
              text-decoration: none;
              color: #fff;
              font: 16px $fb;
              @extend .decoration-animate;
              &:before{
                background:#fff ;
              }
            }
          }
        }
      }

      .footer-contacts {
          display: flex;
          flex-direction: column;
        max-width: 210px;
        @media (max-width: 480px){
          align-items: center;
          text-align: center;
        }
        a {
          color: #fff;
          font: 16px $fb;
          text-decoration: none;
        }

        p {
          color: #fff;
          font: 16px $fb;
        }

        .social-box {
          display: flex;
          align-items: center;
          margin-top: 20px;
          @media(max-width: 1024px){
            order: 2;
          }
          a {
            display: flex;
            align-items: center;
            width: 24px;
            height: 24px;
            justify-content: center;
            border-radius: 50%;
            background: #fff;
            text-decoration: none;
            margin: 0 5px;
            &:hover{
              background: #0b2d5b;
            }
            svg {
              height: 14px;
              width: auto;
              fill: #6098af;

              path {
                fill: #6098af;
              }
            }
          }
        }
      }
    }
  .copywriting{
    padding: 60px 15px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    @media (max-width: 480px){
      padding-top: 30px;
    }
    p{
        padding: 0;
      color: #fff;
      font: 16px $fb;
    }
  }
}