.view-section {
  position: relative;
  width: 100%;
  order: 2;
  flex-grow: 1;
}

main.privacy {
  margin: 100px 0;
  @media (max-width: 768px) {
    margin-top: 50px;
  }

  section {

    .privacy-content {
      margin-top: 35px;
      @media (max-width: 768px) {
        margin-top: 10px;
      }

      p {
        font: 100 18px/1.4 $rr;
        padding: 0 0 35px 0;
      }

      h4 {
        padding: 35px 0;
        font: 26px $fmc;
        color: #0a396d;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }
  }
}

main.index-main {

  .top--banner {
    height: 551px;
    overflow: hidden;
    position: relative;
    background-image: url("../img/fd4.jpg");
    background-position: top right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    @media (max-width: 1024px) {
      height: auto;
      background-size: 100%;
      padding-bottom: 50px;
      background-position: 100% 70%;
      background-image: url("../img/banner-mob.jpg");
      background-color: #e9f0f4;
    }
    @media (max-width: 768px) {
      background-position: top;
    }

    & > .container {
      height: 100%;
    }

    &:before {
      position: absolute;
      background: url("../img/banner-before.png");
      top: 0;
      left: 0;
      width: 55%;
      height: 100%;
      content: '';
      background-size: 100% 100%;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .top--banner-content {
      max-width: 560px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @media (max-width: 1024px) {
        padding-top: 700px;
        margin-right: auto;
        margin-left: auto;
      }
      @media (max-width: 768px) {
        padding-top: 100%;
      }

      h1 {
        color: #0b2d5b;
        font: 42px/1.1 $fmc;
        padding: 0;
        @media (max-width: 768px) {
          font-size: 30px;
          text-align: center;
        }
      }

      ul {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media (max-width: 480px) {
          margin-top: 45px;
          flex-direction: column;
          margin-bottom: 10px;
        }

        li {
          width: calc(50% - 20px);
          font: 100 18px/1.2 $fmc;
          color: #000000;
          padding-left: 27px;
          position: relative;
          @media (max-width: 480px) {
            margin-bottom: 30px;
            margin-left: 0;
            width: 100%;
          }

          &:before {
            position: absolute;
            left: 0;
            top: 2px;
            width: 13px;
            height: 13px;
            background: url("../img/list.png");
            background-size: 100% 100%;
            content: '';
          }

        }
      }

      .default-btn {
        @media (max-width: 1024px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .adassa-medical {
    padding-top: 85px;
    background: #eee;
    padding-bottom: 84px;

    .adassa-medical--content {

      h2 {
        font: 34px $fmc;
        max-width: 580px;
        margin: 0 auto;
        color: #646569;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 30px;
        }

        mark {
          color: #0a396d;
          background: none;
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        @media (max-width: 1024px) {
          flex-wrap: wrap;
          justify-content: space-around;
        }

        li {
          border-radius: 10px;
          background-color: rgb(255, 255, 255);
          box-shadow: -1px 13px 32px 0 rgba(0, 0, 0, .21);
          width: calc(100% / 3 - 20px);
          height: 300px;
          display: flex;
          align-items: center;
          padding: 0 50px;
          position: relative;
          margin-top: 31px;
          @media (max-width: 1024px) {
            width: calc(100% / 2 - 20px);
            margin-bottom: 30px;
          }
          @media (max-width: 768px) {
            max-width: 290px;
            min-width: 290px;
            padding: 0 20px;
          }

          &:before {
            position: absolute;
            background: url("../img/circle.png");
            width: 62px;
            height: 62px;
            background-size: 34px 34px;
            top: -31px;
            left: calc(50% - 31px);
            background-repeat: no-repeat;
            content: '';
            border: 13px solid #eee;
            border-radius: 50%;
          }

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            opacity: 0.1;
            font: 90px $fd;
            overflow: hidden;
            content: attr(data-number);
            text-align: center;

          }

          p {
            text-align: center;
            padding: 0;
            color: #646569;
            font: 18px $rr;

            b {
              font-weight: 600;
            }
          }
        }
      }
    }
  }


  .service-step {

    h2 {

    }
  }

  .what-say {
    background: #eee;
    padding-top: 60px;
    padding-bottom: 120px;
    @media (max-width: 1024px) {
      padding-bottom: 80px;
    }

    h2 {
      font: 34px $fmc;
      max-width: 580px;
      margin: 0 auto;
      color: #0a396d;
      padding: 0;
      text-align: center;
      @media (max-width: 1024px) {
       font-size: 30px;
      }
    }

    .container {
      .what-say--slider--content {
        position: relative;
      }

      .what-say--slider {
        margin-top: 50px;

        .swiper-wrapper {

          .swiper-slide {
            border-radius: 10px;
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 45px 65px;
            @media (max-width: 480px) {
              padding: 40px 10px;
            }

            p {
              padding: 0;
              color: #1b1b1b;
              font: 18px $fb;
            }

            .author-box {
              display: flex;
              align-items: center;
              margin-top: 50px;
              @media (max-width: 480px) {
                margin-top: 30px;
              }

              img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                object-fit: cover;
              }

              .text-box {
                margin-left: 13px;

                span {
                  font: 18px $fmc;
                  color: #1b1b1b;
                }

                p {
                  padding: 10px 0 0;
                  font: 16px $fmc;
                  color: #1b1b1b;
                }
              }
            }
          }
        }

        .swiper-pagination {

        }


      }

      .what-say--slider-pagination {
        margin: 40px auto 0;
        width: 100%;
      }

      .what-say--slider-next,
      .what-say--slider-prev {
        position: absolute;
        top: calc(50% - 29px);
        @media (max-width: 1100px) {
          display: none;
        }

      }

      .what-say--slider-prev {
        left: -29px;
      }

      .what-say--slider-next {
        left: auto;
        right: -29px;
      }
    }
  }

  .news-section {
    padding-top: 60px;
    overflow: hidden;
    @media (max-width: 1024px) {
      padding-bottom: 100px;
    }

    & > h2 {
      font: 34px $fmc;
      max-width: 580px;
      margin: 0 auto;
      color: #0a396d;
      padding: 0;
      text-align: center;
    }

    .container {

      .news-section--slider {
        margin-top: 50px;
        margin-bottom: 80px;
        @media (max-width: 1024px) {

        }

        .swiper-wrapper {

          .swiper-slide {

            img {
              width: 100%;
              height: 262px;
              object-fit: cover;
            }

            .content-el {
              margin-top: 20px;

              h4 {
                padding: 0;
                color: #2b2b2b;
                font: 18px $fmc;
              }

              .content-el--info {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .views {
                  display: flex;
                  align-items: center;
                  margin-right: 28px;
                  font: 14px $fmc;
                  color: #000000;

                  img {
                    max-width: 22px;
                    max-height: 14px;
                    width: 100%;
                    height: auto;
                    margin-right: 10px;
                  }
                }

                .comments {
                  display: flex;
                  font: 14px $fmc;
                  color: #000000;

                  img {
                    max-width: 22px;
                    max-height: 14px;
                    width: 100%;
                    height: auto;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }


    }
  }
}

.services-us {
  background: #e9f0f4;
  padding-top: 80px;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    padding-top: 60px;
  }

  h2 {
    padding: 0;
    font: 34px $fmc;
    color: #0a396d;
    text-align: center;
  }

  .services-slider {
    margin-top: 60px;
    position: relative;

    .services-top--slider {
      z-index: 2;

      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          font: 18px $fmc;
          color: #0a396d;
          background: #fff;
          height: 80px;
          padding: 0 40px;
          opacity: 0.5;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          @media (max-width: 480px) {
            font-size: 12px;
            height: 42px;
          }

          &.swiper-slide-active {
            height: 100px;
            opacity: 1;
            border-radius: 8px 8px 0 0;
            @media (max-width: 480px) {
              font-size: 12px;
              height: 44px;
            }
          }

        }
      }
    }

    .swiper-button-prev {
      position: absolute;
      left: -29px;
      top: 15px;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .swiper-button-next {
      position: absolute;
      right: -29px;
      top: 15px;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .services-bottom--slider {
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.21);

      .swiper-wrapper {

        .swiper-slide {
          display: flex;
          justify-content: space-between;
          padding: 30px;
          background: #ffffff;
          border-radius: 0px 8px 8px 8px;
          @media (max-width: 1024px) {
            flex-direction: column;
          }
          @media (max-width: 480px) {
            padding: 30px 15px;
          }

          .left-box {
            max-width: 523px;
            width: 100%;
            border-radius: 8px;
            @media (max-width: 1024px) {
              max-width: none;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .tight-box {
            padding-top: 31px;
            margin-left: 70px;
            @media (max-width: 1280px) {
              margin-left: 40px;
            }
            @media (max-width: 1024px) {
              margin-left: 0px;
            }

            span {
              font: 18px $fmc;
              color: #0a396d;
              @media (max-width: 480px) {
                display: flex;
                justify-content: center;
              }
            }

            p {
              font: 16px $rr;
              color: #646569;
              padding: 30px 0;
              @media (max-width: 480px) {
                text-align: center;
              }

            }

            .button-box {
              display: flex;
              @media (max-width: 480px) {
                flex-direction: column;
                align-items: center;
              }

              .default-btn {
                &:first-child {
                  margin-right: 10px;
                  color: #fff;
                  @media (max-width: 480px) {
                    margin-bottom: 10px;
                  }
                }

                &:last-child {
                  width: 134px;
                }
              }
            }
          }
        }
      }

      .swiper-button-prev {

      }

      .swiper-button-next {

      }
    }
  }

}

.record-form {
  max-width: 850px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(233, 240, 244);
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.23);
  padding: 75px 60px;
  position: relative;
  @media (max-width: 1024px) {
    padding: 50px 15px;
  }

  &:before {
    position: absolute;
    right: -300px;
    bottom: 0;
    width: 383px;
    height: 645px;
    content: '';
    background: url("../img/form.png");
    @media (max-width: 1024px) {
      display: none;
    }
  }

  & > h2 {
    font: 34px $fmc;
    color: #0a396d;
    padding: 0;
    @media (max-width: 768px) {
      font-size: 30px;
      text-align: center;
    }
  }

  p {
    max-width: 490px;
    margin-top: 35px;
    font: 16px $fmc;
    color: #000;
    padding: 0;
    opacity: 0.7;
    @media (max-width: 768px) {
      margin-top: 25px;
      text-align: center;
    }
  }

  form {
    margin-top: 40px;

    .input-row {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
       flex-wrap: wrap;
      }
      input {
        background-color: rgb(255, 255, 255);
        width: 207px;
        height: 54px;
        border-width: 1px;
        border-color: #d4dade;
        border-style: solid;
        border-radius: 24px;
        padding: 0 15px 0 32px;
        margin-right: 15px;
        font: 18px $fmc;
        color: #000000;
        @media (max-width: 1024px) {
          margin-right: 10px;
        }
        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    textarea {
      background-color: rgb(255, 255, 255);
      max-width: 650px;
      width: 100%;
      height: 154px;
      border-width: 1px;
      border-color: #d4dade;
      border-style: solid;
      border-radius: 24px;
      margin-top: 15px;
      padding: 15px 15px 15px 32px;
      resize: none;
      margin-right: 15px;
      font: 18px $fmc;
      color: #000000;
    }

    .default-btn {
      margin-top: 20px;
      border: none;
      @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .personal-data {
      position: relative;
      margin-top: 15px;

      input {
        height: 15px;
        width: 15px;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        z-index: 1;
      }

      label {
        position: relative;
        height: 15px;
        width: 15px;

        &:before {
          content: "\2713";
          color: transparent;
          position: absolute;
          border: 1px solid #6098af;
          font-size: 11px;
          border-radius: 2px;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 15px;
          width: 15px;
          opacity: 1;
          transition: color ease .3s;
        }
      }

      input:checked + label:before {
        color: #fff;
        background: #6098af;
      }


      p {
        margin-top: 0;
        opacity: 0.8;
        color: #7a7a7a;
        padding-left: 23px;
        font: 15px $fb;
        @media (max-width: 768px) {
          text-align: left;
        }
        a {
          color: #6098af;
        }
      }
    }
  }
}

section.specialists {
  background: #e9f0f4;
  padding-bottom: 74px;

  .container {

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font: 34px $fmc;
        color: #0a396d;
        padding-top: 0;
        padding-bottom: 15px;
        @media (max-width: 1024px) {
         font-size: 30px;
        }
      }

      p {
        font: 16px $fb;
        color: #000000;
        opacity: 0.7;
        padding: 0;
      }
    }

    .specialists-slider--container {
      display: flex;
      height: 100%;
      margin-top: 50px;
      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }

      .left-navigation--container {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        margin-right: 65px;
        @media (max-width: 1024px) {
          margin-right: 20px;
        }
        @media (max-width: 991px) {
          height: auto;
          margin: 30px auto;
        }

        .left-slider-next {
          transform: rotate(90deg);
          left: 0;
          @media (max-width: 991px) {
            display: none;
          }
        }

        .left-slider-prev {
          transform: rotate(90deg);
          left: 0;
          @media (max-width: 991px) {
            display: none;
          }
        }

        .left-slider-pagination {
          display: flex;
          flex-direction: column;
          margin: 40px 0;
          width: 58px;
          align-items: center;
          position: relative;
          @media (max-width: 991px) {
            flex-direction: row;
            width: auto;
            margin: 0;
          }

          span {
            margin: 4px 0;
            opacity: 1;
            @media (max-width: 991px) {
              margin: 0 4px;
            }
          }
        }
      }

      .left-slider {
        height: 500px;
        width: 420px;
        @media (max-width: 991px) {
          width: 100%;
          height: 150px;
          margin-top: 100px;
        }

        .swiper-wrapper {

          .swiper-slide {
            display: flex;
            align-items: center;
            border-radius: 10px;
            opacity: 0.5;
            padding: 0 35px;
            @media (max-width: 480px) {
              padding: 0 10px;
            }

            &.swiper-slide-thumb-active {
              background: #fff;
              opacity: 1;
            }

            .img {
              margin-right: 25px;

              img {
                border-radius: 50%;
              }
            }

            .text-box {

              .name {
                font: 18px $fd;
                text-transform: uppercase;
                color: #000000;
              }

              p {
                padding: 12px 0;
                color: #000000;
                font: 16px $fb;
              }
            }
          }
        }

        .swiper-pagination {

        }

        .swiper-button-prev {

        }

        .swiper-button-next {

        }
      }

      .right-slider {
        max-width: 500px;
        width: 100%;
        position: relative;

        &:before {
          position: absolute;
          width: 60%;
          height: 60%;
          content: '';
          top: 20%;
          left: 20%;
          border-radius: 50%;
          border: 1px solid #000;
          background: none;
          transition: 1.4s;
          animation: 2s scaleDef infinite;
        }

        &:after {
          position: absolute;
          transform: translate(50%);
          width: 100%;
          height: 100%;
          content: '';
          top: 0;
          left: 0;
          border-radius: 50%;
          border: 1px solid #000;
          background: none;
          transition: 1.4s;
          animation: 2s scaleDef infinite;
          transform-origin: 50% 50%;
        }


        .swiper-wrapper {

          .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-box {
              display: flex;
              justify-content: center;
              position: relative;

              img {

              }
            }

            .name {
              text-align: center;
              font: 18px $fd;
              text-transform: uppercase;
            }

            p {
              text-align: center;
              max-width: 230px;
              font: 16px $fb;
              color: #000000;
              padding: 15px 0;
            }

            .default-btn {

            }
          }
        }

        .swiper-pagination {

        }

        .swiper-button-prev {

        }

        .swiper-button-next {

        }
      }
    }
  }
}

.service-step {
  padding-top: 70px;

  h2 {
    font: 34px $fmc;
    color: #0b2d5b;
    padding: 0;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1024px) {
      font-size: 30px;
    }
  }

  .service-step--container {
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgb(233, 240, 244);
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.23);
    padding: 35px 0 50px;
    margin-bottom: 80px;
    @media (max-width: 1024px) {
      padding: 35px 15px;
    }

    .progress-box {

      .progress-counter {

        p {
          text-align: center;
          padding-top: 0;
          opacity: 0.5;
          color: #000;
          font: 16px $fmc;

          span {

          }
        }
      }

      .progress-el {
        background-color: rgb(255, 255, 255);
        max-width: 540px;
        width: 100%;
        height: 22px;
        position: relative;
        border-radius: 16px;
        margin: 0 auto 35px;

        span {
          background-image: url("../img/prb.jpg");
          position: absolute;
          left: 2px;
          background-repeat: repeat-x;
          top: 2px;
          height: 18px;
          border-radius: 16px;

          &.w20 {
            width: 20%;
          }

          &.w40 {
            width: 40%;
          }

          &.w60 {
            width: 60%;
          }

          &.w80 {
            width: 80%;
          }

          &.w100 {
            width: 100%;
          }

        }
      }
    }

    h3 {
      padding: 0;
      font: 22px $fmc;
      color: #000000;
      text-align: center;
    }

    form {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px;

      .step-one {

        .input-box {

          #spep1_1 {

          }

          label {

          }
        }

        span {

        }
      }

      .step-two {

        .input-box {

          #spep2_1 {

          }

          label {

          }
        }

        span {

        }
      }

      .step-free {

        .input-box {

          #spep3_1 {

          }

          label {

          }
        }

        span {

        }
      }

      .step-four {

        .input-box {

          #spep4_1 {

          }

          label {

          }
        }

        span {

        }
      }

      .step-five {

        .input-box {

          #spep5_1 {

          }

          label {

          }
        }

        button {

        }
      }

      .step-box {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1024px) {
          justify-content: space-evenly;
        }

        .input-box {
          border-radius: 10px;
          background-color: rgb(255, 255, 255);
          margin-bottom: 24px;
          position: relative;
          height: 84px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 4 - 30px);
          @media (max-width: 1024px) {
            width: calc(100% / 3 - 10px);
          }
          @media (max-width: 640px) {
            width: calc(100% / 2 - 10px);
          }
          @media (max-width: 480px) {
            width: 100%;
          }

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
            opacity: 0;

            &:checked + label {
              &:before {
                background: #6098af;
              }

              &:after {
                position: absolute;
                width: 8px;
                height: 7px;
                content: "";
                background: url('../img/correct.png');
                left: -4px;
                top: 39px;
                z-index: 3;
                background-size: 100% 100%;
              }
            }
          }

          label {
            font: 16px $fmc;
            color: #000000;
            text-align: center;
            padding: 0 20px;
            cursor: pointer;

            &:before {
              width: 34px;
              height: 34px;
              background: #fff;
              min-width: 34px;
              min-height: 34px;
              border: 10px solid #e9f0f4;
              border-radius: 50%;
              content: '';
              position: absolute;
              left: -17px;
              z-index: 2;
              top: calc(50% - 17px);
            }

          }
        }

        &.is-active {
          display: flex;
        }
      }

      .button-box {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      span, button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border: none;
      }
    }
  }
}