main.about {
  .default-btn.no-bg{
    margin: 0 auto  ;
    background: transparent;
  }
  h2{
    font: 34px $fmc;
    color: #0a396d;
    text-align: center;
    padding: 0;

  }
  .banner-about{
    background: url("../img/top_section.jpg");
    height: 550px;
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    h2{
      font: 48px $fmc;
      color: #fff;
      padding: 0 0 28px;
      text-align: left;
    }
    p{
      color: #fff;
      padding: 0;
      font: 18px $rr;
      font-style: italic;
    }
  }
  section.top-section {

    .top-context {
      max-width: 750px;
      margin: 90px auto;
        p {
            padding:0 0 45px ;
          text-align: center;
          font: 18px $rr;
          color: #646569;
          a{
            color: #0a396d;
            font-weight: 600;
          }
          b {
            font-weight: 600;
          }
        }
    }
  }

  .features-work {
      padding: 70px 0 25px;
      .features-work__content {
          display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        justify-content: space-between;
        .features-work__content--el {
          width: calc(50% - 40px);
          margin-bottom: 50px;
          .icon-box {

            img {
              max-width: 50px;
              max-height: 50px;
              width: auto;
              height: auto;
            }
          }

          h3 {
            font: 18px $fd;
            color: #0a396d;
            padding: 15px 0;
          }

          p {
              font: 16px/1.4 $fb;
              color: rgba(0, 0, 0, 0.71);
              line-height: 1.688;
              padding: 0 0 15px;
          }

         span {
            font-weight: 600;
            @extend .decoration-animate;
           font: 16px/1.4 $fb;
           color: rgba(0, 0, 0, 0.71);
           cursor: pointer;
           &:before{
             background: #000;
           }
          }
        }
    }
  }

  .specialists-pages--section{
    background: #e9f0f4;
    padding: 70px 0;
    ul{
      height: 405px;
      overflow: hidden;
      &.is-active{
        height: auto;
      }
    }
  }
  .equipment-content{
    padding: 70px 0 0;
    ul{
      height: 345px;
      overflow: hidden;
      &.is-active{
        height: auto;
      }
    }
  }
  .direction {
    background: #e9f0f4;
    padding: 75px 0 80px;

      .direction-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 15px;
        .direction-content-el {
          margin-top: 40px;
          width: calc(100% / 3 - 70px);
          h3 {
            padding: 0;
            color: #0a396d;
            font: 18px $fd;
          }

          ul {
            margin-top: 18px;
            list-style-type: disc;
            padding-left: 18px;
            &:last-child{
              padding-left: 0;
              li{
                list-style-type: none;
              }
            }
            li {
              list-style-type: disc;
              margin-bottom: 15px;
              a {
                  font: 18px $fb;
                color: #000000;
                text-decoration: none;
                border-bottom: 1px solid #000000;
              }
              p{
                font: 18px $fb;
                color: #000000;
              }
            }
          }
        }
      }

      p {
        margin-top: 10px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font: 18px $rr;
        color: #000000;
        display: block;
        text-align: center;
        b {
            font-weight: 600;
        }
      }

  }

  .license {
    margin: 90px 0;
      .license__content {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .img-el {
          width: calc(100% / 3 - 21px);
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #8fb7c7;
          img {
            width: 100%;
            height: 100%;
            max-height: 372px;
            object-fit: cover;
          }
        }
    }
  }

  .look-company {
      background: #e9f0f4;
      padding: 75px 0;

      h3 {
        color: #000000;
        font: 22px $fd;
        padding: 40px 0 0;
        text-align: center;
        opacity: 0.7;
      }

      .first-img {
        margin-top: 24px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 470px;
          max-height:252px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .look-company__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .img-box {
          margin-bottom: 20px;
          width: calc(100% / 3 - 20px);
          img {
            max-height: 367px;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
  }
}