main.constructor_2 {

  .banner-pages {
  max-height: 520px;
    height: 100%;
    width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.youth-block {
  margin-top: 100px;
  @media (max-width: 480px){
    margin-top: 75px;
  }
    .youth-block--content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 65px;
      @media (max-width: 480px){
        margin-top: 50px;
      }
      .youth-block--content__el {
        width: calc(100% / 3 - 30px);
        margin-bottom: 55px;
        @media (max-width: 991px){
          width: calc(100% / 2 - 30px);
        }
        @media (max-width: 480px){
          width:100%;
          margin-bottom: 25px;
        }
        img {
          border-radius: 10px;
          border: 1px solid #e0e0e0;
          max-height: 224px;
          width: 100%;
          height: 100%;
          min-height: 224px;
          object-fit: cover;
        }
        p {
          padding:15px 0 0;
          font: 18px/1 $fmc;
          color: #000000;
          text-transform: uppercase;
        }
      }
    }

    .default-btn {
      margin-left: auto;
      margin-right: auto;
    }
}

.rejuvenation-block {
  background: #e9f0f4;
  padding: 60px 0;
  margin-top: 100px;
  .container {

    .rejuvenation-block--content {
      max-width: 730px;
     margin: 0 auto 0;

      p {
        font: 18px $rr;
        color: #646569;
        padding-top: 0;
        padding-bottom: 50px;
        text-align: center;
        b {

        }
      }

      a {
        font:600 18px $rr;
        color: #0a396d;
        text-align: center;
        text-decoration: underline;
        display: flex;
        margin-top: -50px;
        justify-content: center;
      }
    }
  }
}
}
.services-section {
  margin-top: 100px;

  .services-contents {
    margin-top: 100px;
    @media (max-width: 1024px){
      margin-top: 40px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
    @media (max-width: 768px){
      margin-bottom: 30px;
    }
    .services-contents--el {
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 29.44px 2.56px rgba(83, 83, 83, 0.25);
      width: calc(50% - 15px);
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      @media (max-width: 768px){
        width: 100%;
        height: 100%;
      }
      img {
        max-height: 252px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      h6 {
        padding:25px 30px 15px;
        font: 18px $fmc;
        color: #000000;
        text-transform: uppercase;
        @media (max-width: 768px){
          padding-left: 20px;
          padding-right: 20px ;
        }
      }

      p {
        padding: 10px 30px;
        font: 16px $rr;
        color: #646569;
        @media (max-width: 768px){
          padding-left: 20px;
          padding-right: 20px ;
        }
      }

      span {
        font: 18px $fmc;
        color: #0a396d;
        padding: 0 30px 35px;
        display: block;
        margin-top: auto;
        @media (max-width: 768px){
          padding-left: 20px;
          padding-right: 20px ;
        }
      }
    }
  }

}
.before-after {
  margin-top: 100px;

  .before-after--slider {
    margin-top: 65px;
    padding-bottom: 20px;
    padding-top: 20px;
    @media (max-width: 480px){
      margin-top: 40px;
    }
    .swiper-wrapper {
      .swiper-slide {
        .img-box {
          display: flex;
          justify-content: space-between;
          &:before{
            position: absolute;
            top: -20px;
            left: calc(25% - 50px);
            content:'До';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 40px;
            border: 7px solid #fff;
            border-radius: 2px;
            background: #6098af;
            text-align: center;
            color: #fff;
            font: 14px $fmc;
          }
          &:after{
            position: absolute;
            top: -20px;
            right: calc(25% - 50px);
            content:'После';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 40px;
            border: 7px solid #fff;
            border-radius: 2px;
            background: #6098af;
            text-align: center;
            color: #fff;
            font: 14px $fmc;
          }
          img {
            width: calc(50% - 5px);
            height:auto;
            max-height: 370px;
            object-fit: cover;
          }
        }
        span {
          border-radius: 10px;
          background-color: rgb(96, 152, 175);
          height: 83px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% - 50px);
          margin-top: -55px;
          position: relative;
          margin-left: auto;
          text-align: center;
          margin-right: auto;
          font: 18px $fmc;
          text-transform: uppercase;
        }
      }
    }

    .before-after-pagination {

    }

    .before-after-prev {

    }

    .before-after-next {

    }
    .arrow-container{
      margin-top: 60px;
      height: 58px;
      @media (max-width: 1024px){
        margin-top: 40px;
      }
    }
  }
}