.constructor-services--pages{
  section.constructor-services{
    .constructor-services--content {
      margin-top: 45px;
      margin-bottom: 70px;
      .title-pages{
        margin-bottom: 40px;
      }
     & > ul {
        display: flex;
        flex-wrap: wrap;
       & > li {
          padding: 10px 10px 24px 10px;
          position:relative;
          width: calc(100% / 4 - 20px);
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          justify-content: space-between;
          background-color: rgb(255, 255, 255);
          box-shadow: 2.121px 2.121px 13px 0px rgba(0, 0, 0, 0.11);
          margin-bottom: 30px;
           @media (min-width: 1024px){
             &:nth-child(4n){
               margin-right: 0;
             }
           }
         @media (max-width: 1024px){
           width: calc(100% / 3 - 20px);
           margin-bottom: 20px;
         }
         @media (min-width: 768px) and (max-width: 1024px) {
           &:nth-child(3n){
             margin-right: 0;
           }
         }
         @media (max-width: 768px) {
           width: calc(100% / 2 - 10px);
           &:nth-child(even){
             margin-right: 0;
           }
           &:nth-child(odd){
             margin-right:20px;
           }
         }
         @media (max-width: 480px) {
           width: 100%;
           margin-right:0 ;
           &:nth-child(odd){
             margin-right:0px;
           }
         }
          .img-box {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            img {
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }

          span {
            font:20px/1 $fmc;
            color: #0a396d;
            position: relative;
            cursor: pointer;
            &:before{
              position: absolute;
              right: 0;
              top: calc(50% - 4px);
              width: 8px;
              height: 8px;
              content:'';
              border-right: 1px solid #0a396d;
              border-bottom:1px solid #0a396d;
              transform: rotate(45deg) ;
              transition: 0.2s;
            }
            &.is-active{
              &:before{
                transform: rotate(-135deg) ;
              }
            }
            ul {
              position: absolute;
              display: none;
              &.is-active{
                display: flex;
              }
              background-color: rgb(255, 255, 255);
              top:calc(100% + 5px);
              width: calc(100% + 20px);
              left: -10px;
              flex-direction: column;
              border-radius:10px;
              z-index: 1;
              box-shadow: 3px 11px 13px 0 rgba(0,0,0,.11);
              padding: 10px;
              li {
                  color: #000000;
                font:16px/1 $fmc ;
                margin-bottom: 20px;
              }
            }
          }


        }
      }

    }
  }
}