main.contacts-pages{
  section.map{
    #map{
      height: 620px;
      width: 100%;
      filter: grayscale(1);
      .ymaps-2-1-77-image-with-content-content > ymaps{
        word-wrap: normal;
        white-space: nowrap;
        background: #ffffff;
        color: #000;
        font: 16px $fmc;
        padding: 5px;
      }

    }
    .tab-contacts {
      position: absolute;
      top: 135px;
      width: 362px;
      left: 200px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      .tab-menu--contact {
          display: flex;
        align-items: center;


        li {
          width: 50%;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000000;
          opacity: 0.7;
          font: 18px $fmc;
          background: #ebebeb;
          box-shadow: -2px -5px 35px 0 rgba(0,0,0,.12);
          cursor: pointer;
          &.is-active {
            background-color: rgb(255, 255, 255);
            border-radius:0 10px;
          }
        }
      }

      .tab-content-container {
        background-color: rgb(255, 255, 255);
        .tab-content-el {
          background-color: rgb(255, 255, 255);
          padding: 50px 0 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            text-align: center;
            padding: 0;
            color: #000000;
            font: 24px $fmc;
          }

          a {
            text-align: center;
            padding-top: 25px;
            font: 16px $fmc ;
            text-decoration: none;
          }

          p {
            text-align: center;
            padding-top: 25px;
            font: 16px $fmc ;
            max-width: 180px;
          }

          .social-box {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              width: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 24px;
              background: #8596ad;
              border-radius: 50%;
              margin: 0 4px;
              padding: 0;
              svg{
                display: block;
                width: auto ;
                height: 14px;
                fill: #ffff;
                path{
                  fill: #ffff;
                  width: auto;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .tour-3d {
    margin-top: 70px;
    margin-bottom: 100px;
      .tour-3d-content {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        .tour-3d--el {
            max-width: 455px;
            width: 100%;
          margin: 0 16px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  }

}