main.equipment{
  margin-bottom: 90px;
}
.equipment-content {

  .equipment--content {
    margin-top: 65px;
    margin-bottom: 15px;
    @media (max-width: 480px){
      margin-top: 45px;
      margin-bottom: 0;
    }
    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @media (max-width: 768px){
        flex-direction: column;
      }
      li {
        display: flex;
        width: calc(50% - 170px / 2);
        margin-bottom: 45px;
        @media (max-width: 1024px){
          width: calc(50% - 10px);
        }
        @media (max-width: 768px){
          width: 100%;
        }
        @media (max-width: 480px){
          margin-bottom: 30px;
          flex-direction: column;
        }
        &:nth-child(2n){
          margin-left: auto;
          @media (max-width: 768px){
            margin-left: 0;
          }
        }
        .img-box {
          max-width: 110px;
          width: 100%;
          max-height: 300px;
          @media (max-width: 1024px){
            max-width: 180px;
            width: 180px;
          }
          @media (max-width: 768px){
            display: flex;
            justify-content: center;
          }
          @media (max-width: 480px){
            max-height:207px ;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            max-width: 290px;
            width: 290px;
            margin-bottom: 25px;
          }
          img {
            width: 100%;
            height:auto;
            object-fit: cover;
            @media (max-width: 1024px){
              width: auto;
            }
            @media (max-width: 480px){
              height: 100%;
              width: auto;
              max-height: 207px;
            }
          }
        }
        .info-specialists {
          margin-left: 35px;
          display: flex;
          flex-direction: column;
          @media (max-width: 1024px){
            margin-left: 15px;
            max-width: calc(100% - 195px);
          }
          @media (max-width: 480px){
            margin-left: 0;
            max-width: none;
          }
          h3 {
            padding:24px 0 35px;
            font:22px/1  $fmc;
            color: #0a396d;
            @media (max-width: 768px){
              padding-top: 0;
            }
          }
          p {
            font: 17px/1.4 $fb;
            color: #000000;
            padding: 0 0 30px;
            opacity: 0.7;


          }
          .default-btn {
            @media (max-width: 1024px){
              width: 100%;
            }
            @media (max-width: 768px){
              max-width: 240px;
            }
            @media (max-width: 480px){
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }

}