main.price-pages {
  padding-top: 100px;
  margin-bottom: 100px;
  @media (max-width: 768px){
    padding-top:  50px;
  }
}
section.price-pages__content {

  .price-container {

    .price--section {

      h3 {
        font: 26px/1 $fmc;
        padding:55px 0 35px;
        color: #0a396d;
        @media (max-width: 768px){
          text-align: center;
          padding-bottom: 20px;
        }
        @media (max-width: 480px){
          text-align: left;
        }
      }

      .table-box {
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          height: 58px;
          background: #0a396d;
          font: 18px/1 $fmc;
          text-align: center;

        }

        .table-header {
          display: flex;
          align-items: center;
          width: 100%;
          @media (max-width: 768px){
            display: none;
          }
          span {
            width: calc(100% / 3);
            display: flex;
            align-items: center;
            justify-content: center;
            border:1px solid rgb(240, 240, 240);
            height: 52px;
            font:600 18px/1 $fd;
            color: #0a396d;

          }
        }

        .table-content {
          max-height: calc(78px * 4);
          height: auto;
          overflow: hidden;
          @media (max-width: 768px){
            max-height: calc(50px * 4);
          }
          &.is-active{
            max-height: none;
          }
          .table-row {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px){
              border:1px solid rgb(240, 240, 240);
              flex-direction: column;
              align-items: flex-start;
              &.is-active{
                & > div{
                  display: flex;
                }
              }
            }
            div {
              width: calc(100% / 3);
              display: flex;
              align-items: center;
              justify-content: center;
              border:1px solid rgb(240, 240, 240);
              height: 78px;
              @media (max-width: 768px){
                border: none;
                width: 100%;
                justify-content: flex-start;
                padding: 0 30px 0 15px;
                display: none;
                height: 50px;
                &:first-child{
                  display: flex;
                  position: relative;
                  &:before{
                    position: absolute;
                    right: 10px;
                    top: calc(50% - 6px);
                    width: 8px;
                    height: 8px;
                    content:'';
                    border-right: 1px solid #78797c;
                    border-bottom: 1px solid #78797c;
                    transform: rotate(45deg);
                    transition: 0.3s;
                  }
                  &.is-active{
                    &:before{
                      transform: rotate(-135deg);
                    }
                  }
                }
              }
              p{
                display: none;
                font:600 18px/1 $fd;
                color: #0a396d;
                padding: 0 10px 0 0;
                @media (max-width: 768px){
                  display: block;
                }
              }

              span {
                font: 16px/1 $fd;
                color: #646569;
                padding: 0 15px;
                text-align: center;
                @media (max-width: 768px){
                  padding: 0;
                }
              }
              .btn-small{
                background-color: rgb(96, 152, 175);
                box-shadow: inset 0px 2px 1px 0px rgba(36, 67, 109, 0.004);
                width: 165px;
                height: 38px;
                color: #fff;
                cursor: pointer;
                justify-content:center;
                text-align: center;
                &:before{
                  display: none;
                }
              }

            }
          }
        }
      }

      .visible-list {
        height: 62px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid rgb(240, 240, 240);
        span{
          font:18px $rr;
          color: #646569;
          position: relative;
          cursor: pointer;
          z-index: 2;
          &.is-active{
            &:before{
              transform: rotate(-135deg);
            }
          }
          &:before{
            position: absolute;
            right: -16px;
            top: calc(50% - 6px);
            width: 8px;
            height: 8px;
            content:'';
            border-right: 1px solid #78797c;
            border-bottom: 1px solid #78797c;
            transform: rotate(45deg);
            transition: 0.3s;
          }

        }

      }
    }
  }

}
