.surgery {

  .banner-pages {
    background: url("../img/pages-banner.jpg");
    padding-top: 50px;
    background-size: cover;
    padding-bottom: 135px;
    background-position: center;
      .breadcrumbs-component{
        margin-top: 0;
        li{
          &:before{
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
          }
          a{
            color: #fff;
          }
        }
      }
    .container {

      .banner-pages--content {
          display: flex;
        align-items: center;
        justify-content: space-between;
        .left-box {
          margin-right: 50px;
          max-width: 520px;
          width: 100%;
          h2 {
            padding: 0 0 25px;
            color: #fff;
            font: 48px $fmc;
          }

          p {
            padding: 0;
            color: #fff;
            font:16px $rr  ;

          }
        }

        .right-box {
          max-width: 475px;
          width: 100%;
          .video-box {
            border-radius: 10px;
            overflow: hidden;

            height: 286px;
            iframe {
              width: 100%;
              height: 100%;

            }
          }
        }
      }
    }
  }

  .surgery-description {
    padding-top: 100px;
    h2 {
      font: 34px $fmc;
      max-width: 580px;
      margin: 0 auto;
      color: #0a396d;
      padding: 0;
      text-align: center;
    }

    .container {

      .surgery-description--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 90px;
        .surgery-description--el {
          width: calc(50% - 20px);
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          .img-box {
            width: 260px;
            height: 260px;
            margin-right: 30px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }

          p {
              font: 16px $rr;
            color: #646569;
            width: calc(100% - 290px);
            b {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .video-section {
    margin-top: 25px;
    margin-bottom: 100px;
      .video-slider {

        .swiper-wrapper {

          .swiper-slide {
            max-height: 333px;
            iframe {
              width: 100%;
              height:200px ;
              border-radius: 10px;
            }
          }
        }
      }
    .arrow-container {
      margin-top: 55px;
      .swiper-pagination {
        position: relative;
      }

      .swiper-button-prev {

      }

      .swiper-button-next {

      }
    }
  }

  .news-section {

    .container {

      .record-form {

        h2 {

        }

        p {

        }

        form {

          .input-row {

            input {

            }
          }

          textarea {

          }

          .default-btn {

          }

          .personal-data {

            #personalData {

            }

            label {

            }

            p {

              a {

              }
            }
          }
        }
      }
    }
  }
}