main.services-pages{
  padding-bottom: 100px;
  .banner-services {
    padding-top: 100px;

      .banner-services--content {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        img {
          width: 100%;
          max-height: 390px;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          margin-bottom: 60px;
        }

        p {
            padding: 0 0 20px;
          text-align: center;
          color: #646569;
          font: 18px $rr;
          max-width: 735px;
          b {
            font-weight: 600;
          }
        }
      }
  }


.price-pages__content {
  margin-bottom: 100px;
  .container {

    .price-container {

      .price--section {

        h3 {

        }

        .table-box {

          .title {

          }

          .table-header {

            span {

            }
          }

          .table-content {

            .table-row {

              div {

                span {

                }
              }
            }
          }
        }

        p {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          border: 1px solid #f0f0f0;
          color: #646569;
          font: 18px $rr;
          padding: 0;
        }
      }
    }
  }
}

.system-usa {
    background: #e9f0f4;
  margin-bottom: 100px;
    .system-usa__content {
      display: flex;
      .img-box {
        width: 360px;
        margin-right: 30px;
        display: flex;
        align-items: flex-end;
        img {
          width: auto;
          height: auto;
          max-width: 360px;
        }
      }

      .text-box {
        padding: 132px 0;
        h2 {
          font: 34px $fmc;
          color: #0a396d;
          padding: 0 0 30px;
        }

        p {
          padding: 0 0 25px;
          font: 18px $rr;
          color: #646569;
        }
      }
    }
}

.specialists {
    background: #fff;
  padding-bottom:  0;
  .container {

    .title {

      h2 {

      }
    }

    .specialists-slider--container {

      .left-navigation--container {

        .left-slider-prev {

        }

        .left-slider-pagination {

        }

        .left-slider-next {

        }
      }

      .left-slider {

        .swiper-wrapper {

          .swiper-slide {

            .img {

              img {

              }
            }

            .text-box {

              .name {

              }

              p {

              }
            }
          }
        }
      }

      .right-slider {

        .swiper-wrapper {

          .swiper-slide {

            .img-box {

              img {

              }
            }

            .name {

            }

            p {

            }

            .default-btn {

            }
          }
        }
      }
    }
  }
}

.before-after {

  .title-pages {

    h2 {

    }
  }

  .before-after--slider {

    .swiper-wrapper {

      .swiper-slide {

        .img-box {

          img {

          }
        }

        span {

        }
      }
    }

    .arrow-container {

      .before-after-prev {

      }

      .before-after-pagination {

      }

      .before-after-next {

      }
    }
  }
}

.video-services {
  margin-top: 90px;
  background: #e9f0f4;
  padding-top: 100px;
  padding-bottom: 100px;
  .video-services__content {

    .video-services--slider {
      margin-top: 100px;
      margin-bottom: 60px;
      .swiper-wrapper {

        .swiper-slide {
          border-radius: 10px;
          overflow: hidden;
          iframe {
            width: 100%;
            height: 320px;
          }
        }
      }
    }

    .arrow-container {

      .video-services-prev {

      }

      .video-services-pagination {

      }

      .video-services-next {

      }
    }
  }
}

.services-section {

  .title-pages {

    h2 {

    }
  }

  .container {

    .services-contents {
      margin-top: 45px;
      .services-contents--el {

        img {

        }

        h6 {

        }

        p {

        }
        .bottom-box{
          display: flex;
          padding: 35px;
          justify-content: space-between;
          margin-top: auto;
          .sign__up--button{
            &.disable-btn{
              opacity: 0.4;
            }
          }
        }
        span {padding: 0;
          max-width: 260px;
        }
      }
    }
    .contact-box{
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      a{
      text-decoration: none ;
        font: 34px/1 $fmc;
        color: #0b2d5b;
      }
      p{
      color: #000000;
        font: 16px $fmc;
        padding-top: 0;
      }
    }
  }
}

}