main.shares{
  padding-bottom: 100px;
  .shares-list {

    .container {

      h2 {
        padding: 0;
        text-align: center;
        color: #0a396d;
        font: 34px $fmc;
      }

      .shares-filter {
        margin-top: 20px;
        margin-bottom: 45px;
        form {
        display: flex;
          align-items: center;
          .input-box {
            position: relative;

            margin-right: 10px;
            input    {
            position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer;
              margin: 0;
              &:checked + label{
                background-color: rgb(95, 151, 174);
                color: #fff;
              }
            }

            label {
              border-radius: 12px;
              height: 30px  ;
              padding: 0 19px;
              font: 17px/0.9 $rr;
              color: #585858;



            }
          }
        }
      }

      .shares-list__content {
        margin-bottom: 45px;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: calc(100% / 3 - 20px);
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2.121px 2.121px 13px 0px rgba(0, 0, 0, 0.11);
            padding-bottom: 25px;
            margin-bottom: 30px;
            position: relative;
           .img-box {
              img {
                max-height: 220px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            h3 {
              padding: 30px 50px 20px;
              color: #0a396d;
              font: 20px $fmc;
            }

            p {
              padding: 0px 50px 25px;
              color: #646569;
              font: 16px $rr;
            }

            .btn-small {
              margin: 0 50px;

            }
          }
        }
      }
    }
  }
}