main.specialists-pages {
  margin-bottom: 90px;

}
.specialists-pages--section {
  .specialists-pages--list {
    margin-top: 65px;
    margin-bottom: 15px;
    @media (max-width: 480px){
      margin-top: 45px;
      margin-bottom: 0;
    }

    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @media (max-width: 768px){
        flex-direction: column;
      }
      li {
        display: flex;
        width: calc(50% - 96px / 2);
        margin-bottom: 45px;
        @media (max-width: 1024px){
          width: calc(50% - 10px);
        }
        @media (max-width: 768px){
          width: 100%;
        }
        @media (max-width: 480px){
          margin-bottom: 30px;
          flex-direction: column;
        }
        &:nth-child(2n){
          margin-left: auto;
          @media (max-width: 768px){
            margin-left: 0;
          }
        }
        .img-box {
          max-width: 243px;
          width: 100%;
          @media (max-width: 1024px){
            max-width: 180px;
            width: 180px;
          }
          @media (max-width: 480px){
            max-height:270px ;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            max-width: 290px;
            width: 290px;
            border-radius: 8px;
            margin-bottom: 25px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            @media (max-width: 480px){
              height: auto;
            }
          }
        }
        .info-specialists {
          margin-left: 35px;
          display: flex;
          flex-direction: column;
          @media (max-width: 1024px){
            margin-left: 15px;
            max-width: calc(100% - 195px);
          }
          @media (max-width: 480px){
            margin-left: 0;
            max-width: none;
          }
          h3 {
            padding: 0 0 35px;
            font:22px/1  $fmc;
            color: #0a396d;
          }
          p {
            font: 17px/1.2 $fb;
            color: #000000;
            padding: 0 0 35px;

          }

          .work-days {
            display: flex;
            align-items: center;
            margin-bottom: 45px;
            img {
              margin-right:  16px;
            }

            p {
              padding: 0;
              b {
                font-family: $fd;
              }
            }
          }

          .default-btn {
            margin-top: auto;
            @media (max-width: 1024px){
              width: 100%;
            }
            @media (max-width: 768px){
              max-width: 240px;
            }
            @media (max-width: 480px){
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}