<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="about">
    <section class="banner-about">
      <div class="container">
          <h2>
              ADASSA Medical Clinic

          </h2>
          <p>красота, здоровье и инновации
          </p>
      </div>
    </section>
    <section class="top-section">
        <div class="container">
            <div class="top-context">

                <p><b>ADASSA</b> — крупнейший центр медицинской косметологии и малоинвазивной хирургии
                    в Днепре и одна из самых передовых beauty-клиник Украины.</p>
                <p>Сегодня мы предоставляем более 100 услуг, используем аппараты последнего
                    поколения (не старше 2016 года), а в наших стенах работают десятки
                    специалистов с опытом не менее 15 лет!
                </p>
                <p>
                    <b>ADASSA</b> Medical Clinic использует междисциплинарный подход — мы сочетаем разные
                    процедуры в рамках персональных комплексов, чтобы добиться устойчивого эффекта.
                    <a href="#">Запишитесь на консультацию</a> и узнайте, какие процедуры помогут вам.
                </p>
            </div>
        </div>
    </section>
    <section class="direction">
        <div class="container">
            <h2>Направления</h2>
            <div class="direction-content">
                <div class="direction-content-el">
                    <h3>Аппаратная косметология</h3>
                    <ul>
                        <li><a href="#"> бизнес-омоложение</a></li>
                        <li><a href="#"> SMAS-лифтинг</a></li>
                        <li><a href="#"> элос-омоложение</a></li>
                        <li><a href="#"> лазерное омоложение</a></li>
                        <li><a href="#"> RF-лифтинг</a></li>
                        <li><a href="#"> игольчатый RF-лифтинг</a></li>
                        <li><a href="#"> лазерная эпиляция</a></li>
                        <li><a href="#"> прессотерапия</a></li>
                        <li><a href="#"> LPG массаж</a></li>
                    </ul>
                </div>
                <div class="direction-content-el">
                    <h3>Инъекционная косметология</h3>
                    <ul>
                        <li><a href="#"> контурная пластика</a></li>
                        <li><a href="#"> инъекции ботулотоксина</a></li>
                        <li><a href="#"> мезотерапия</a></li>
                        <li><a href="#"> биоревитализация</a></li>
                        <li><a href="#"> плазмолифтинг</a></li>
                    </ul>
                </div>
                <div class="direction-content-el">
                    <h3>Коррекция объемов лица и тела</h3>
                    <ul>
                        <li><a href="#"> LPG массаж</a></li>
                        <li><a href="#"> миостимуляция</a></li>
                        <li><a href="#"> прессотерапия</a></li>
                        <li><a href="#"> шприцевая липосакция</a></li>
                        <li><a href="#"> микротоковая терапия</a></li>
                        <li><a href="#"> криотерапия</a></li>
                    </ul>
                </div>
                <div class="direction-content-el">
                    <h3>Классическая косметология</h3>
                    <ul>
                        <li><a href="#"> уход за кожей</a></li>
                        <li><a href="#"> химические пилинги</a></li>
                        <li><a href="#"> маски</a></li>
                    </ul>
                </div>
                <div class="direction-content-el">
                    <h3>Малоинвазивная хирургия</h3>
                    <ul>
                        <li><a href="#"> лазерное удаление</a></li>
                        <li><a href="#"> новообразований</a></li>
                        <li><a href="#"> склеротерапия сосудов</a></li>
                        <li><a href="#"> шприцевая липосакция</a></li>
                        <li><a href="#"> нитевой лифтинг</a></li>
                        <li><a href="#"> лазерное лечение потливости</a></li>
                    </ul>
                </div>
                <div class="direction-content-el">
                    <h3>Генетическое тестирование</h3>
                    <ul>
                        <li>
                            выявляем предрасположенность
                            к заболеваниям и пищевые
                            непереносимости, составляем
                            генетический паспорт питания и кожи
                        </li>
                    </ul>
                </div>
            </div>
            <p>
                Процедуры ADASSA Medical Clinic направлены на омоложение кожи, устранение
                дефектов, а также ее оздоровление. Мы помогает нашим клиенткам и клиентам
                <b>чувствовать себя уверенно</b> — всегда имея свежий, здоровый и молодой вид.

            </p>
        </div>
    </section>

    <section class="features-work">
        <div class="container">
            <h2>Особенности работы</h2>
            <div class="features-work__content">
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/donation.png" alt="">
                    </div>
                    <h3>Индивидуальные комплексы услуг</h3>
                    <p>
                        Ставите нам задачу — мы подбираем эффективное решение,
                        используя весь потенциал наших специалистов и оборудования.
                        Мы комбинируем процедуры и добиваемся устойчивого результата.
                    </p>
                    <span class="sign__up">
                            Запись на консультацию
                        </span>
                </div>
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/hospital.png" alt="">
                    </div>
                    <h3>Лучший аппаратный парк в Украине
                    </h3>
                    <p>
                        Многопрофильный лазер Fotona, фракционный лазер CO2, диодный
                        лазер Lumenis Light Sheer Desire и лимфодренажный аппарат LPG —
                        лишь небольшая часть нашего арсенала. Мы обновляем наши
                        аппараты не реже, чем раз в 2 года.
                    </p>
                </div>
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/certification.png" alt="">
                    </div>
                    <h3>Врачи с международной сертификацией</h3>
                    <p>
                        ADASSA Medical Clinic — это более 30 дерматологов, косметологов,
                        хирургов и гинекологов. Их стаж — не менее 15 лет в направлении.
                        2 раза в год каждый из них повышает квалификацию за границей.

                    </p>
                </div>
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/policy.png" alt="">
                    </div>
                    <h3>100% лицензионная деятельность
                    </h3>
                    <p>
                        ADASSA Medical Clinic имеет лицензию Министерства
                        здравоохранения Украины на оказание услуг в области
                        дерматовенерологии и хирургии. Центр также является
                        сертифицированной научно-клинической базой.
                    </p>
                </div>
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/healthcare.png" alt="">
                    </div>
                    <h3>Приятная атмосфера и анонимность</h3>
                    <p>
                        Светлые комнаты, удобные кресла, ароматный чай и отзывчивый
                        персонал. Нам доверяют более 400 клиентов — две трети которых
                        признались, что ценят в ADASSA комфорт обслуживания.

                    </p>
                    <span class="sign__up--video">
                         Смотреть видеоэкскурсию
                        </span>
                </div>
                <div class="features-work__content--el">
                    <div class="icon-box">
                        <img src="img/pin.png" alt="">
                    </div>
                    <h3>Центр города
                    </h3>
                    <p>
                        Наш адрес в Днепре — ул. Гусенко, 17, что лишь в 3 минутах езды
                        от центра города. К нам также легко добраться общественным
                        транспортом и пешком.
                    </p>
                    <span class="sign__up--map">
                        Смотреть карту
                        </span>
                </div>
            </div>
        </div>
    </section>

    <section class="specialists-pages--section">
        <div class="container">
            <div class="title-pages">
                <h2>Наши специалисты</h2>
            </div>
            <div class="specialists-pages--list">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/specialists.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Татьяна Епифанцева
                            </h3>
                            <p>
                                дерматолог и косметолог ADASSA,
                                руководитель научного
                                департамента EMET Medicine
                            </p>
                            <p>
                                специальность — врач-дерматолог,
                                косметолог
                                стаж — с 2001 года
                            </p>
                            <div class="work-days">
                                <img src="img/calendar.jpg" alt="calendar">
                                <p>
                                    Рабочие дни: <b>Пн, Вт, Ср, Сб</b>
                                </p>
                            </div>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                </ul>
                <span class="default-btn no-bg visible-specialists--list">
                    Смотреть всю команду
                </span>
            </div>
        </div>
    </section>

    <section class="equipment-content">
        <div class="container">
            <div class="title-pages">
                <h2>Наше оборудование</h2>
            </div>
            <div class="equipment--content">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/fotona.jpg" alt="">
                        </div>
                        <div class="info-specialists">
                            <h3>
                                Fotona
                            </h3>
                            <p>
                                Многопрофильный лазер, позволяющий
                                проводить более 50 процедур для лица
                                и тела, включая подтяжку кожи, лечение
                                сосудов лица и конечностей, шлифовку,
                                устранение потливости и липосакцию.

                            </p>
                            <span class="default-btn">
                                    Записаться на приём
                                </span>
                        </div>
                    </li>
                </ul>
                <span class="default-btn no-bg visible-equipment--list">
                    Смотреть все аппараты
                </span>
            </div>
        </div>
    </section>

    <section class="license">
        <h2>Лицензии</h2>
        <div class="container">
            <div class="license__content">
                <div class="img-el">
                    <img src="img/1.jpg" alt="">
                </div>
                <div class="img-el">
                    <img src="img/2.jpg" alt="">
                </div>
                <div class="img-el">
                    <img src="img/3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="look-company">

        <div class="container">
            <h2>Как выглядит ADASSA Medical Clinic</h2>
            <h3>3D-тур по ADASSA Medical Clinic в Днепре</h3>
            <div class="first-img">
                <img src="img/63.jpg" alt="">
            </div>
            <div class="look-company__content">
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="img/643.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>