<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="constructor_2">
    
    <section class="banner-pages">
        <img src="img/top_section.jpg" alt="img">
    </section>
    <section class="youth-block">
        <div class="title-pages">
            <h2>Молодость</h2>
        </div>
        <div class="container">
            <div class="youth-block--content">
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
                <div class="youth-block--content__el">
                    <img src="img/4508.jpg" alt="img">
                    <p>
                        предупреждение морщин
                    </p>
                </div>
            </div>
            <div class="default-btn">
                Подобрать процедуру
            </div>
        </div>
    </section>
    <section class="rejuvenation-block">
        <div class="container">
            <div class="rejuvenation-block--content">
                <p>
                    <b>Омоложение</b> — ведущее направление клиники ADASSA. В нашем центре вы можете пройти более 100 процедур, которые позволят вам выглядеть так, как вы достойны. Среди них — инъекции, лифтинг и аппаратное омоложение (без хирургического вмешательства).
                </p>
                <p>
                    В зависимости от задачи, омолаживающие комплексы могут состоять из разовых процедур или регулярных процедур на протяжении месяцев.
                </p>
                <p>
                    Задача всех услуг этого направления — повысить упругость и эластичность кожи и освежить ее цвет. Мы помогаем предупредить или <b>убрать морщины</b>, а также преобразить черты лица (<b>контурная пластика лица</b>, лифтинг) и тела.
                </p>
                <p>
                    Возрастных ограничений для методик нет. Чтобы подобрать комплекс процедур,
                </p>
                <a href="#">запишитесь на консультацию или первый прием.</a>
            </div>
        </div>
    </section>

    <section class="before-after">
        <div class="title-pages">
            <h2>До и после</h2>
        </div>
        <div class="before-after--slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
            </div>
            <div class="arrow-container">
                <div class="before-after-prev arrow-prev--component swiper-button-prev"></div>
                <div class="before-after-pagination swiper-pagination swiper-pagination--component"></div>
                <div class="before-after-next arrow-next--component swiper-button-next"></div>
            </div>
        </div>
    </section>

    <section class="services-section">
        <div class="title-pages">
            <h2>Услуги</h2>
        </div>
        <div class="container">
            <div class="services-contents">
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                </div>
            </div>
        </div>
    </section>

</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>