<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<main class="constructor-services--pages">
    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <section class="constructor-services">
        <div class="container">
            <div class="title-pages">
                <h2>
                    Узнайте, какая процедура нужна, сколько она продлится
                    и на какой бюджет расчитывать
                </h2>
            </div>
            <div class="constructor-services--content">
                <div class="title-pages">
                    <h2>
                        Я хочу...
                    </h2>
                </div>
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="img/ser1.jpg" alt="">
                        </div>
                        <span>
                            Стройную фигуру
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                    <div class="img-box">
                        <img src="img/ser2.jpg" alt="">
                    </div>
                    <span>
                           Чистое лицо
                         <ul>
                        <li>Чистка</li>
                        <li>Пилинги</li>
                        <li>Удаление родинок</li>
                        <li>Процедура 4</li>
                        <li>Процедура 5</li>
                    </ul>
                        </span>

                </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser3.jpg" alt="">
                        </div>
                        <span>
                           Выглядеть молодо
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser4.jpg" alt="">
                        </div>
                        <span>
                            SOS Первичная хирургическая помощь, консультация уход
                            <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser4.jpg" alt="">
                        </div>
                        <span>
                           Гладкую кожу
                              <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser5.jpg" alt="">
                        </div>
                        <span>
                            Избавиться от нежелательных волос
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser6.jpg" alt="">
                        </div>
                        <span>
                           Расслабиться и оздоровиться
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser7.jpg" alt="">
                        </div>
                        <span>
                            Кожу без дефектов
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser8.jpg" alt="">
                        </div>
                        <span>
                            Густые волосы
                            <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser9.jpg" alt="">
                        </div>
                        <span>
                            Скорректировать черты лица
                             <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/ser10.jpg" alt="">
                        </div>
                        <span>
                           Удалить родинку
                            <ul>
                            <li>Чистка</li>
                            <li>Пилинги</li>
                            <li>Удаление родинок</li>
                            <li>Процедура 4</li>
                            <li>Процедура 5</li>
                        </ul>
                        </span>

                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>