<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="index-main">
  <section class="top--banner">
    <div class="container">
      <div class="top--banner-content">
        <h1>
          Решение эстетических проблем
          и забота о красоте и здоровье
          на профессиональном уровне
        </h1>
        <ul>
          <li>
            Профессионалы своего дела,
            которым можно доверять
            и получить лучший результат
          </li>
          <li>
            Профессионалы своего дела,
            которым можно доверять
            и получить лучший результат
          </li>
        </ul>

        <span class="default-btn">
          Записаться на приём
        </span>
      </div>
    </div>
  </section>
  <section class="adassa-medical" >
    <div class="container">
      <div class="adassa-medical--content">
          <h2>
           <mark> Adassa Medical Clinic</mark> — крупнейший
            инновационный центр аппаратной
            косметологии в городе Днепр
          </h2>

          <ul>
            <li data-number="01">
              <p>
                <b>  Передовые технологии,</b>
                методики и опыт
                высококвалифицированных
                врачей, позволяют решить
                абсолютно любой
                запрос пациентов
              </p>
            </li>
            <li data-number="02">
              <p>
                <b>Мы применяем лучшие
                  решения из:</b> аппаратной
                косметологии, классической
                косметологии, малоинвазивной
                хирургии, anti-age решений,
                генетического тестирования
              </p>
            </li>
            <li data-number="03">
              <p>
                <b>  В Adassa Medical Clinic уверены,</b>
                что только индивидуальный
                подход к каждому пациенту
                могут помочь подчеркнуть
                уникальную красоту лица и тела!
              </p>
            </li>
          </ul>

      </div>
    </div>
  </section>
  <section class="services-us">
    <div class="container">
      <h2>Наши услуги</h2>
      <div class="services-slider">
        <div class="services-top--slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">Малоинвазивная
              хирургия</div>
            <div class="swiper-slide">Аппаратная
              косметология
            </div>
            <div class="swiper-slide">Anti-age
              диагностика</div>
            <div class="swiper-slide">Лазерная
              эпиляция
            </div>
            <div class="swiper-slide">Малоинвазивная
              хирургия</div>
            <div class="swiper-slide">Аппаратная
              косметология
            </div>
            <div class="swiper-slide">Anti-age
              диагностика</div>
            <div class="swiper-slide">Лазерная
              эпиляция
            </div>
          </div>
        </div>
        <div class="services-top--slider-prev arrow-prev--component swiper-button-prev"></div>
        <div class="services-top--slider-next arrow-next--component swiper-button-next"></div>
        <div class="services-bottom--slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="left-box">
                <img src="img/services.jpg" alt="services">
              </div>
              <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                  <p>
                    Мы применяем лучшие решения из: аппаратной
                    косметологии, классической косметологии,
                    малоинвазивной хирургии, anti-age решений,
                    генетического тестирования
                  </p>
                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                  <a href="#" class="default-btn no-bg">Цены</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="left-box">
                <img src="img/services.jpg" alt="services">
              </div>
              <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                <p>
                  Мы применяем лучшие решения из: аппаратной
                  косметологии, классической косметологии,
                  малоинвазивной хирургии, anti-age решений,
                  генетического тестирования
                </p>
                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                  <a href="#" class="default-btn no-bg">Цены</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="left-box">
                <img src="img/services.jpg" alt="services">
              </div>
              <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                <p>
                  Мы применяем лучшие решения из: аппаратной
                  косметологии, классической косметологии,
                  малоинвазивной хирургии, anti-age решений,
                  генетического тестирования
                </p>
                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                  <a href="#" class="default-btn no-bg">Цены</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="left-box">
                <img src="img/services.jpg" alt="services">
              </div>
              <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                <p>
                  Мы применяем лучшие решения из: аппаратной
                  косметологии, классической косметологии,
                  малоинвазивной хирургии, anti-age решений,
                  генетического тестирования
                </p>
                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                  <a href="#" class="default-btn no-bg">Цены</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="specialists">
    <div class="container">
      <span class="title">
        <h2>Квалифицированные специалисты</h2>
        <p>Мы регулярно повышаем квалификацию своих сотрудников</p>
      </span>
      <div class="specialists-slider--container">
        <div class="left-navigation--container">
          <div class="left-slider-prev arrow-prev--component swiper-button-prev"></div>
          <div class="left-slider-pagination swiper-pagination--component swiper-pagination"></div>
          <div class="left-slider-next arrow-next--component swiper-button-next"></div>
        </div>
          <div class="left-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="img">
                    <img src="img/351.jpg" alt="img">
                  </div>
                  <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                    <p>Хирург</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="img">
                    <img src="img/351.jpg" alt="img">
                  </div>
                  <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                    <p>Хирург</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="img">
                    <img src="img/351.jpg" alt="img">
                  </div>
                  <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                    <p>Хирург</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="img">
                    <img src="img/351.jpg" alt="img">
                  </div>
                  <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                    <p>Хирург</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="img">
                    <img src="img/351.jpg" alt="img">
                  </div>
                  <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                    <p>Хирург</p>
                  </div>
                </div>
              </div>
          </div>
        <div class="right-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img-box">
                <img src="img/7291.png" alt="">
              </div>
              <span class="name">
                Чернова Мария
              </span>
              <p>
                Косметолог, квалифицированый
                специалист
              </p>

              <div class="default-btn">
                Записаться на приём
              </div>

            </div>
            <div class="swiper-slide">
              <div class="img-box">
                <img src="img/7291.png" alt="">
              </div>
              <span class="name">
                Чернова Мария
              </span>
              <p>
                Косметолог, квалифицированый
                специалист
              </p>

              <div class="default-btn">
                Записаться на приём
              </div>

            </div>
            <div class="swiper-slide">
              <div class="img-box">
                <img src="img/7291.png" alt="">
              </div>
              <span class="name">
                Чернова Мария
              </span>
              <p>
                Косметолог, квалифицированый
                специалист
              </p>

              <div class="default-btn">
                Записаться на приём
              </div>

            </div>
            <div class="swiper-slide">
              <div class="img-box">
                <img src="img/7291.png" alt="">
              </div>
              <span class="name">
                Чернова Мария
              </span>
              <p>
                Косметолог, квалифицированый
                специалист
              </p>

              <div class="default-btn">
                Записаться на приём
              </div>

            </div>
            <div class="swiper-slide">
              <div class="img-box">
                <img src="img/7291.png" alt="">
              </div>
              <span class="name">
                Чернова Мария
              </span>
              <p>
                Косметолог, квалифицированый
                специалист
              </p>

              <div class="default-btn">
                Записаться на приём
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="service-step">
   <div class="container">
     <h2>
       Вы можете пройти тест за 1 минуту
       и получить расчёт стоимости вашей услуги
     </h2>
     <div class="service-step--container">

       <div class="progress-box">
          <div class="progress-counter">
            <p>Вы отвечаете на <span>1</span> вопрос из 5</p>
          </div>
          <div class="progress-el" >
            <span class="w20"></span>
          </div>
       </div>
       <h3>
         Какая услуга вас интересует?
       </h3>
       <form action="/">
         <div class="step-one is-active step-box">
           <div class="input-box">
             <input type="radio" checked name="spep1" id="spep1_1">
             <label for="spep1_1">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_2">
             <label for="spep1_2">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_3">
             <label for="spep1_3">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_4">
             <label for="spep1_4">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_5">
             <label for="spep1_5">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_6">
             <label for="spep1_6">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_7">
             <label for="spep1_7">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep1" id="spep1_8">
             <label for="spep1_8">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="button-box">
             <span class="default-btn">Следующий вопрос</span>
           </div>
         </div>
         <div class="step-two step-box">
           <div class="input-box">
             <input type="radio" checked name="spep2" id="spep2_1">
             <label for="spep2_1">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_2">
             <label for="spep2_2">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_3">
             <label for="spep2_3">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_4">
             <label for="spep2_4">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_5">
             <label for="spep2_5">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_6">
             <label for="spep2_6">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_7">
             <label for="spep2_7">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep2" id="spep2_8">
             <label for="spep2_8">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="button-box">
             <span class="default-btn">Следующий вопрос</span>
           </div>
         </div>
         <div class="step-free step-box">
           <div class="input-box">
             <input type="radio" checked name="spep3" id="spep3_1">
             <label for="spep3_1">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_2">
             <label for="spep3_2">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_3">
             <label for="spep3_3">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_4">
             <label for="spep3_4">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_5">
             <label for="spep3_5">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_6">
             <label for="spep3_6">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_7">
             <label for="spep3_7">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep3" id="spep3_8">
             <label for="spep3_8">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="button-box">
             <span class="default-btn">Следующий вопрос</span>
           </div>
         </div>
         <div class="step-four step-box">
           <div class="input-box">
             <input type="radio" checked name="spep4" id="spep4_1">
             <label for="spep4_1">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_2">
             <label for="spep4_2">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_3">
             <label for="spep4_3">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_4">
             <label for="spep4_4">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_5">
             <label for="spep4_5">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_6">
             <label for="spep4_6">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_7">
             <label for="spep4_7">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep4" id="spep4_8">
             <label for="spep4_8">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="button-box">
             <span class="default-btn">Следующий вопрос</span>
           </div>
         </div>
         <div class="step-five step-box">
           <div class="input-box">
             <input type="radio" checked name="spep5" id="spep5_1">
             <label for="spep5_1">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_2">
             <label for="spep5_2">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_3">
             <label for="spep5_3">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_4">
             <label for="spep5_4">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_5">
             <label for="spep5_5">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_6">
             <label for="spep4_6">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_7">
             <label for="spep5_7">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="input-box">
             <input type="radio" name="spep5" id="spep5_8">
             <label for="spep5_8">
               Аппаратная
               косметология
             </label>
           </div>
           <div class="button-box">
             <button class="default-btn" type="submit">Следующий вопрос</button>
           </div>
         </div>
       </form>
     </div>
   </div>
  </section>
  <section class="what-say">
    <h2>
      Что говорят клиенты о работе с нами
    </h2>
    <div class="container">
      <div class="what-say--slider--content">
        <div class="what-say--slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p>
                Большое спасибо всей команде специалистов
                клиники за внимательное отношение.Большое
                спасибо всей команде специалистов клиники
                за внимательное отношение.
              </p>
              <div class="author-box">
                <img src="img/specialists.jpg" alt="">
                <div class="text-box">
                  <span>Ксения Иванова</span>
                  <p>Ксения Иванова</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <p>
                Большое спасибо всей команде специалистов
                клиники за внимательное отношение.Большое
                спасибо всей команде специалистов клиники
                за внимательное отношение.
              </p>
              <div class="author-box">
                <img src="img/specialists.jpg" alt="">
                <div class="text-box">
                  <span>Ксения Иванова</span>
                  <p>Ксения Иванова</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <p>
                Большое спасибо всей команде специалистов
                клиники за внимательное отношение.Большое
                спасибо всей команде специалистов клиники
                за внимательное отношение.
              </p>
              <div class="author-box">
                <img src="img/specialists.jpg" alt="">
                <div class="text-box">
                  <span>Ксения Иванова</span>
                  <p>Ксения Иванова</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <p>
                Большое спасибо всей команде специалистов
                клиники за внимательное отношение.Большое
                спасибо всей команде специалистов клиники
                за внимательное отношение.
              </p>
              <div class="author-box">
                <img src="img/specialists.jpg" alt="">
                <div class="text-box">
                  <span>Ксения Иванова</span>
                  <p>Ксения Иванова</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="what-say--slider-pagination swiper-pagination swiper-pagination--component"></div>
        <div class="what-say--slider-prev arrow-prev--component swiper-button-prev"></div>
        <div class="what-say--slider-next arrow-next--component   swiper-button-next "></div>
      </div>
      </div>

  </section>
  <section class="news-section">
    <h2>Новости ADASSA Medical Clinic</h2>
    <div class="container">
        <div class="news-section--slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/f3645jpg.jpg" alt="">
              <div class="content-el">
                <h4>
                  Красивое лето с Adassa
                  -30% на лазерную эпиляцию
                </h4>
                <div class="content-el--info">
                  <div class="views">
                    <img src="img/eye.jpg" alt="">
                    1234
                  </div>
                  <div class="comments">
                    <img src="img/comment.jpg" alt="">
                    1234
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="img/f3645jpg.jpg" alt="">
              <div class="content-el">
                <h4>
                  Красивое лето с Adassa
                  -30% на лазерную эпиляцию
                </h4>
                <div class="content-el--info">
                  <div class="views">
                    <img src="img/eye.jpg" alt="">
                    1234
                  </div>
                  <div class="comments">
                    <img src="img/comment.jpg" alt="">
                    1234
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="img/f3645jpg.jpg" alt="">
              <div class="content-el">
                <h4>
                  Красивое лето с Adassa
                  -30% на лазерную эпиляцию
                </h4>
                <div class="content-el--info">
                  <div class="views">
                    <img src="img/eye.jpg" alt="">
                    1234
                  </div>
                  <div class="comments">
                    <img src="img/comment.jpg" alt="">
                    1234
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="img/f3645jpg.jpg" alt="">
              <div class="content-el">
                <h4>
                  Красивое лето с Adassa
                  -30% на лазерную эпиляцию
                </h4>
                <div class="content-el--info">
                  <div class="views">
                    <img src="img/eye.jpg" alt="">
                    1234
                  </div>
                  <div class="comments">
                    <img src="img/comment.jpg" alt="">
                    1234
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="record-form">
        <h2>
          Запись на приём
        </h2>
        <p>
          Заполните пожалуйста форму ниже. Коротко опишите волнующие
          вас эстетические или xирургические проблемы. Специалист
          свяжется с вами и согласует время консультации.
        </p>
        <form action="/">
          <div class="input-row">
            <input placeholder="Имя" type="text">
            <input type="number" placeholder="Ваш телефон">
            <input type="email" placeholder="Email">
          </div>
          <textarea placeholder="Оставьте свой комментарий"></textarea>
          <button type="submit" class="default-btn">Записаться на приём</button>
          <div class="personal-data">
              <input type="checkbox" id="personalData">
              <label for="personalData"></label>
              <p>Вы соглашаетесь на <a href="#">условия обработки персональных данных</a></p>
          </div>

        </form>
      </div>
    </div>
  </section>

</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>