<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<main class="price-pages">

    <section class="price-pages__content">
        <div class="title-pages">
            <h2>Цены</h2>
        </div>
        <div class="container">
            <div class="price-container">
                <div class="price--section">
                    <h3>  Косметология, ЦЕНЫ  </h3>
                        <div class="table-box">
                            <span class="title">
                                Профессиональный уход
                            </span>
                            <div class="table-header">
                                <span>Название услуги</span>
                                <span>Стоимость</span>
                                <span>Запись на процедуру</span>
                            </div>
                            <div class="table-content">
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>
                                        <p>Стоимость</p>
                                        <span>250 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация хирурга</span></div>
                                    <div>  <p>Стоимость</p><span>300 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>  <p>Стоимость</p><span>600 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>  <p>Стоимость</p><span>300 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>  <p>Стоимость</p><span>250 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация хирурга</span></div>
                                    <div>  <p>Стоимость</p><span>300 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>  <p>Стоимость</p><span>600 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                                <div class="table-row">
                                    <div><span>Консультация врача-косметолога</span></div>
                                    <div>  <p>Стоимость</p><span>300 грн</span></div>
                                    <div><div class="btn-small">Записаться</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="visible-list">
                            <span>Смотреть весь список</span>
                        </div>
                </div>
                <div class="price--section">
                    <h3>  Малоинвазивная хирургия, ЦЕНЫ  </h3>
                    <div class="table-box">
                            <span class="title">
                               Малоинвазивная хирургия
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Удаление доброкачественных опухолей кожи и пжк до 1 см</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Вросший ноготь</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Инородные тела мягких тканей</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Пункция мягких тканей и органов (под УЗИ контролем)</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3>  Аппаратная косметология </h3>
                    <div class="table-box">
                            <span class="title">
                             Элос-омоложение — устранение морщин, сужение пор
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                        <span class="title">
                             Элос-омоложение — устранение морщин, сужение пор
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3> Лазерное хирургическое удаление новообразований </h3>
                    <div class="table-box">
                            <span class="title">
                                Лазерное хирургическое удаление новообразований
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Удаление новообразований на коже до 0,2 см</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Удаление новообразований на коже до 0,5 см</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Удаление новообразований на коже до 1,0 см</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Удаление новообразований на коже до 1,5 см</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3>  Лазерная эпиляция, ЦЕНЫ</h3>
                    <div class="table-box">
                            <span class="title">
                              Лазерная эпиляция
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Верхняя губа</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Подбородок</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Бакенбарды</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Лицо</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3> Лазерное омоложение СО2 лазер, ЦЕНЫ </h3>
                    <div class="table-box">
                            <span class="title">
                               Лазерное омоложение СО2 лазер, ЦЕНЫ
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Лазерное омоложение лица</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Лазерное омоложение / удаление рубцов</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Лазерное удаление рубцов щек</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Лазерное омоложение шеи</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3>  Коррекция объемов лица и тела, ЦЕНА  </h3>
                    <div class="table-box">
                        <span class="title">
                           Лимфодренаж
                        </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Тело</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Лицо+Шея</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                        <span class="title">
                          Миостимуляция (похудение+тонизация)
                        </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Талия+Бедра+Ягодицы</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3> LPG массаж, ЦЕНЫ </h3>
                    <div class="table-box">
                            <span class="title">
                               Тело
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Липомассаж общий</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Эндермологический дренаж</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Антицеллюлитный дренаж</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Экспресс-процедура</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
                <div class="price--section">
                    <h3>  Генетическое тестирование, ЦЕНЫ </h3>
                    <div class="table-box">
                            <span class="title">
                              Тело
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content">
                            <div class="table-row">
                                <div><span>Генетический риск развития сердечно-сосудистых заболеваний</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Генетический риск развития рака молочной железы и яичников</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Генетический риск развития рака молочной железы и яичников расширенный</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Генетический риск развития рака простаты</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-list">
                        <span>Смотреть весь список</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>