<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="privacy">
    <section>
        <div class="container">
            <div class="title-pages">
               <h2>
                   Политика конфиденциальности
               </h2>
            </div>
            <div class="privacy-content">
                <p>
                    Настоящая Политика в области обработки персональных данных и конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую ООО «Сноб Медиа» и/или ее аффилированные лица, включая все лица, входящие в одну группу с ООО «Сноб Медиа», могут получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов ООО «Сноб Медиа» (далее — Сервисы),  а также в ходе исполнения ООО «Сноб Медиа» / его аффилированными лицами любых соглашений и договоров, заключенных с пользователем в связи с использованием Сервисов. Согласие пользователя на предоставление персональных данных (персональной информации), данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в группу лиц ООО «Сноб Медиа», распространяется на все лица, входящие в данную группу лиц.
                </p>
                <p>
                    Использование Сервисов означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации, а именно на совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных" как без, так и с использованием средств автоматизации, и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.
                </p>

                <h4>
                    Персональная информация пользователей, которую получает и обрабатывает ООО «Сноб Медиа»
                </h4>

               <p>
                   В рамках настоящей Политики под «персональной информацией пользователя» понимаются:<br>
                   Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Сервисов, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.<br>
                   Данные, которые автоматически передаются Сервисам в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.<br>
                   Иная информация о пользователе, в случае, если ее сбор и/или предоставление определено в регулирующих документах отдельных Сервисов.<br>
                   Настоящая Политика применима только к Сервисам ООО «Сноб Медиа». ООО «Сноб Медиа» не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах ООО «Сноб Медиа». На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.<br>
                   ООО «Сноб Медиа»в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако ООО «Сноб Медиа» исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, что указанные им при регистрации персональные данные принадлежат лично ему и поддерживает эту информацию в актуальном состоянии. Риск предоставления недостоверной информации несет предоставивший ее пользователь.<br>
                   Согласие пользователя на обработку персональных данных действует бессрочно с момента осуществления регистрации пользователя на сайте, и не требует периодического подтверждения. ООО «Сноб Медиа» будет хранить персональную информацию столько времени, сколько это необходимо для достижения цели, для которой она была собрана, или для соблюдения требований законодательства и нормативных актов.
               </p>

                <h4>
                    Персональная информация пользователей, которую получает и обрабатывает ООО «Сноб Медиа»
                </h4>
                <p>
                    ООО «Сноб Медиа» собирает, обрабатывает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и оказания услуг (исполнения соглашений и договоров с пользователем), в строгом соответствии с действующим законодательством.<br>
                    Персональную информацию пользователя ООО «Сноб Медиа» может использовать в следующих целях:<br>
                    Идентификация стороны в рамках соглашений и договоров с ООО «Сноб Медиа»;<br>
                    Обработка необходима для выполнения договорных обязательств ООО «Сноб Медиа» перед пользователем;<br>
                    Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;<br>
                    Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;<br>
                    Таргетирование рекламных материалов;<br>
                    Проведение статистических и иных исследований на основе обезличенных данных
                </p>

                <h4>Условия обработки персональной информации пользователя и ее передачи третьим лицам</h4>

                <p>
                    В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов (например, блога), пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.<br>
                    ООО «Сноб Медиа» вправе передать персональную информацию пользователя третьим лицам в следующих случаях:<br>
                    Пользователь выразил свое согласие на такие действия;<br>
                    Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю;<br>
                    Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;<br>
                    Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;<br>
                    В целях обеспечения возможности защиты прав и законных интересов ООО «Сноб Медиа» или третьих лиц в случаях, когда пользователь нарушает Условия использования сайта
                </p>

            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>