<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="control-main">

    <section class="">
        <div class="container">
                <div class="control-content">

                </div>
        </div>
    </section>

</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>