<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="services-pages">
    <section class="banner-services">
        <div class="container">
            <div class="title-pages">
                <h2>SMAS-лифтинг на аппарате Ulthera</h2>
            </div>
            <div class="banner-services--content">
                <img src="img/banner-services.jpg" alt="">
                <p><b>Эффект </b>— подтяжка мышц и кожи шейно-лицевой зоны, укрепление овала лица и разглаживание складок кожи
                </p>
                <p>Глубокий ультразвуковой SMAS-лифтинг — эффективный аналог хирургической подтяжки лица. Процедура провоцирует восстановление кожи на глубине до 5 мм и выше.
                </p>
                <p>После процедуры верхний слой кожи остается неповрежденным, поэтому период реабилитации отсутствует</p>
                <p>Результат SMAS лифтинг длительный — достаточно проходить от одной процедуры в год. </p>
            </div>
        </div>
    </section>

    <section class="price-pages__content">
        <div class="container">
            <div class="price-container">
                <div class="price--section">
                    <div class="table-box">
                            <span class="title">
                                Профессиональный уход
                            </span>
                        <div class="table-header">
                            <span>Название услуги</span>
                            <span>Стоимость</span>
                            <span>Запись на процедуру</span>
                        </div>
                        <div class="table-content visible">
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>
                                    <p>Стоимость</p>
                                    <span>250 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация хирурга</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>600 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                            <div class="table-row">
                                <div><span>Консультация врача-косметолога</span></div>
                                <div>  <p>Стоимость</p><span>300 грн</span></div>
                                <div><div class="btn-small">Записаться</div></div>
                            </div>
                        </div>
                    </div>
                    <p>Запись на консультацию и процедуру — по телефону +38 067 623 7659.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="system-usa">
        <div class="container">
            <div class="system-usa__content">
                <div class="img-box">
                    <img src="img/system.png" alt="">
                </div>
                <div class="text-box">
                    <h2>Ulthera Systems, США</h2>
                    <p>Революционный аппарат для нехирургического SMAS-лифтинга: Ulthera действует ультразвуковыми волнами на глубокий мышечный слой.</p>
                    <p>Уникальная черта аппарата — система ультразвуковой визуализации. Во время процедуры на дисплеи отражаются глубокие слои кожи и мышечные фасции.</p>
                    <p>Это позволяет специалисту клиники точно подбирать глубину, силу и вектор воздействия ультразвуковой волны.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="specialists">
        <div class="container">
      <span class="title">
        <h2>Врачи</h2>
      </span>
            <div class="specialists-slider--container">
                <div class="left-navigation--container">
                    <div class="left-slider-prev arrow-prev--component swiper-button-prev"></div>
                    <div class="left-slider-pagination swiper-pagination--component swiper-pagination"></div>
                    <div class="left-slider-next arrow-next--component swiper-button-next"></div>
                </div>
                <div class="left-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="before-after">
        <div class="title-pages">
            <h2>До и после</h2>
        </div>
        <div class="before-after--slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
            </div>
            <div class="arrow-container">
                <div class="before-after-prev arrow-prev--component swiper-button-prev"></div>
                <div class="before-after-pagination swiper-pagination swiper-pagination--component"></div>
                <div class="before-after-next arrow-next--component swiper-button-next"></div>
            </div>
        </div>

    </section>

    <section class="video-services">
            <div class="video-services__content">
                <div class="title-pages">
                    <h2>Видеоперезентация услуги</h2>
                </div>
                <div class="video-services--slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="arrow-container">
                    <div class="video-services-prev arrow-prev--component swiper-button-prev"></div>
                    <div class="video-services-pagination swiper-pagination--component swiper-pagination"></div>
                    <div class="video-services-next arrow-next--component swiper-button-next"></div>
                </div>
            </div>
    </section>

    <section class="services-section">
        <div class="title-pages">
            <h2>Другие услуги для лица</h2>
        </div>
        <div class="container">
            <div class="services-contents">
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <div class="bottom-box">
                         <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                        <div class="btn-small disable-btn no-bg sign__up--button">
                            Записаться
                        </div>
                    </div>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <div class="bottom-box">
                        <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                        <div class="btn-small  no-bg sign__up--button">
                            Записаться
                        </div>
                    </div>
                </div>
                <div class="services-contents--el">
                    <img src="img/2240.jpg" alt="">
                    <h6>Биоревитализация и мезотерапия</h6>
                    <p>
                        Биоревитализация лица основана на инъекциях гиалуроновой кислоты, а мезотерапия сочетает инъекции медикаментов с воздействием на активные точки организма.
                    </p>
                    <p>
                        Курсы биоревитализации гиалуроновой кислотой и мезотерапии помогают замедлить старение, разгладить морщины и избавить кожу от пигментных пятен.
                    </p>
                    <div class="bottom-box">
                        <span>Мезотерапия и биоревитализация цена — от Х грн</span>
                        <div class="btn-small  no-bg sign__up--button">
                            Записаться
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-box">
                <a href="#"> +38 067 623 7659</a>
                <p>Запись на консультацию и процедуру</p>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>