<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="shares">
    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <section class="shares-list">
        <div class="container">
            <h2>Акции</h2>
            <div class="shares-filter">
                <form action="/">
                    <div class="input-box">
                        <input type="checkbox" id="all">
                        <label for="all">Все</label>
                    </div>
                    <div class="input-box">
                        <input type="checkbox" id="shares">
                        <label for="shares">Акции</label>
                    </div>
                    <div class="input-box">
                        <input type="checkbox" id="news">
                        <label for="news">Новости</label>
                    </div>
                    <div class="input-box">
                        <input type="checkbox" id="video">
                        <label for="video">Видео</label>
                    </div>
                    <div class="input-box">
                        <input type="checkbox" id="post">
                        <label for="post">Статьи</label>
                    </div>
                </form>
            </div>
            <div class="shares-list__content">
                <ul>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li >
                        <div class="img-box">
                            <img src="img/4561.jpg" alt="img">
                        </div>
                        <h3>
                            Full Face -30%
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="img/6522.jpg" alt="img">
                        </div>
                        <h3>
                            Счастливые часы в Adassa
                        </h3>
                        <p>
                            Акция действует каждый день
                            до 31.08.2020
                        </p>
                        <a class="btn-small no-bg" href="shares-pages.html">Подробнее</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <%= _.template(require('./../includes/pagination.html').default)(data) %>
</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>