<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="surgery">
    <section class="banner-pages">
        <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
        <div class="container">
            <div class="banner-pages--content">
                <div class="left-box">
                    <h2>
                        Хирургия хирургическая
                    </h2>
                    <p>
                        Профессионалы своего дела, которым можно доверять
                        и получить лучший результат. Профессионалы своего дела,
                        которым можно доверять и получить лучший результат.
                    </p>
                </div>
                <div class="right-box">
                    <div class="video-box">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="surgery-description">
        <h2>Описание хирургии</h2>
        <div class="container">
            <div class="surgery-description--content">
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
                <div class="surgery-description--el">
                    <div class="img-box">
                        <img src="img/imgl6349-1.jpg" alt="">
                    </div>
                    <p>
                        <b>Мы принимаем лучшие решения из:</b> аппаратной косметологии, классической косметологии,
                        малоинвазивной хирургии, anti-age решений, генетического тестирования
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="services-us">
        <div class="container">
            <h2>Наши услуги</h2>
            <div class="services-slider">
                <div class="services-top--slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Малоинвазивная
                            хирургия
                        </div>
                        <div class="swiper-slide">Аппаратная
                            косметология
                        </div>
                        <div class="swiper-slide">Anti-age
                            диагностика
                        </div>
                        <div class="swiper-slide">Лазерная
                            эпиляция
                        </div>
                        <div class="swiper-slide">Малоинвазивная
                            хирургия
                        </div>
                        <div class="swiper-slide">Аппаратная
                            косметология
                        </div>
                        <div class="swiper-slide">Anti-age
                            диагностика
                        </div>
                        <div class="swiper-slide">Лазерная
                            эпиляция
                        </div>
                    </div>
                </div>
                <div class="services-top--slider-prev arrow-prev--component swiper-button-prev"></div>
                <div class="services-top--slider-next arrow-next--component swiper-button-next"></div>
                <div class="services-bottom--slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="left-box">
                                <img src="img/services.jpg" alt="services">
                            </div>
                            <div class="tight-box">
                                <span>
                                  Аппаратная косметология
                                </span>
                                <p>
                                    Мы применяем лучшие решения из: аппаратной
                                    косметологии, классической косметологии,
                                    малоинвазивной хирургии, anti-age решений,
                                    генетического тестирования
                                </p>
                                <div class="button-box">
                                      <span class="default-btn">
                                        Записаться на приём
                                      </span>
                                    <a href="#" class="default-btn no-bg">Цены</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="left-box">
                                <img src="img/services.jpg" alt="services">
                            </div>
                            <div class="tight-box">
                                <span>
                                  Аппаратная косметология
                                </span>
                                <p>
                                    Мы применяем лучшие решения из: аппаратной
                                    косметологии, классической косметологии,
                                    малоинвазивной хирургии, anti-age решений,
                                    генетического тестирования
                                </p>
                                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                                    <a href="#" class="default-btn no-bg">Цены</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="left-box">
                                <img src="img/services.jpg" alt="services">
                            </div>
                            <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                                <p>
                                    Мы применяем лучшие решения из: аппаратной
                                    косметологии, классической косметологии,
                                    малоинвазивной хирургии, anti-age решений,
                                    генетического тестирования
                                </p>
                                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                                    <a href="#" class="default-btn no-bg">Цены</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="left-box">
                                <img src="img/services.jpg" alt="services">
                            </div>
                            <div class="tight-box">
                <span>
                  Аппаратная косметология
                </span>
                                <p>
                                    Мы применяем лучшие решения из: аппаратной
                                    косметологии, классической косметологии,
                                    малоинвазивной хирургии, anti-age решений,
                                    генетического тестирования
                                </p>
                                <div class="button-box">
                  <span class="default-btn">
                    Записаться на приём
                  </span>
                                    <a href="#" class="default-btn no-bg">Цены</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="specialists">
        <div class="container">
      <span class="title">
        <h2>Квалифицированные специалисты</h2>
        <p>Мы регулярно повышаем квалификацию своих сотрудников</p>
      </span>
            <div class="specialists-slider--container">
                <div class="left-navigation--container">
                    <div class="left-slider-prev arrow-prev--component swiper-button-prev"></div>
                    <div class="left-slider-pagination swiper-pagination--component swiper-pagination"></div>
                    <div class="left-slider-next arrow-next--component swiper-button-next"></div>
                </div>
                <div class="left-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="img/351.jpg" alt="img">
                            </div>
                            <div class="text-box">
                    <span class="name">
                        Чернова Мария
                    </span>
                                <p>Хирург</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="img-box">
                                <img src="img/7291.png" alt="">
                            </div>
                            <span class="name">
                Чернова Мария
              </span>
                            <p>
                                Косметолог, квалифицированый
                                специалист
                            </p>

                            <div class="default-btn">
                                Записаться на приём
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="before-after">
        <div class="title-pages">
            <h2>До и после</h2>
        </div>
        <div class="before-after--slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="img/6377.jpg" alt="img">
                        <img src="img/5432.jpg" alt="img">
                    </div>
                    <span>
                        Биоревитализация и мезотерапия
                    </span>
                </div>
            </div>
            <div class="arrow-container">
                <div class="before-after-prev arrow-prev--component swiper-button-prev"></div>
                <div class="before-after-pagination swiper-pagination swiper-pagination--component"></div>
                <div class="before-after-next arrow-next--component swiper-button-next"></div>
            </div>
        </div>

    </section>
    <section class="video-section">
        <div class="container">
            <div class="video-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sn-S82mF_gw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>

            </div>
            <div class="arrow-container">
                <div class="video-slider-prev arrow-prev--component swiper-button-prev"></div>
                <div class="video-sliderr-pagination swiper-pagination--component swiper-pagination"></div>
                <div class="video-slider-next arrow-next--component swiper-button-next"></div>
            </div>
        </div>
    </section>
    <section class="news-section">
        <div class="container">
            <div class="record-form">
                <h2>
                    Запись на приём
                </h2>
                <p>
                    Заполните пожалуйста форму ниже. Коротко опишите волнующие
                    вас эстетические или xирургические проблемы. Специалист
                    свяжется с вами и согласует время консультации.
                </p>
                <form action="/">
                    <div class="input-row">
                        <input placeholder="Имя" type="text">
                        <input type="number" placeholder="Ваш телефон">
                        <input type="email" placeholder="Email">
                    </div>
                    <textarea placeholder="Оставьте свой комментарий"></textarea>
                    <button type="submit" class="default-btn">Записаться на приём</button>
                    <div class="personal-data">
                        <input type="checkbox" id="personalData">
                        <label for="personalData"></label>
                        <p>Вы соглашаетесь на <a href="#">условия обработки персональных данных</a></p>
                    </div>

                </form>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>