ul.breadcrumbs-component {
  display: flex;
  align-items: center;
  margin: 52px 0;
  @media (max-width: 1024px){
    margin: 30px 0;
  }
  @media (max-width: 768px){
    margin: 20px 0;
  }
  li {
      position: relative;
      padding-right: 18px;
    &:last-child{
      a{
        pointer-events: none;
      }

      &:before{
        display: none;
      }
    }
    &:before{
      position: absolute;
      content:'';
      right: 6px;
      bottom: 3px;
      border-right: 1px solid #585858;
      border-bottom: 1px solid #585858;
      transform: rotate(-45deg);
      width: 6px;
      height: 6px;
    }
    a {
      text-decoration: none;
      font:17px/1 $fb;
      color:#585858;
    }
  }
}