.pagination{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  a{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font: 20px/1 $fd;
    color: #737373;
    margin: 0 10px;
    &.current{
      color: #fff;
      background: #5f97ae;
    }
  }
}