body{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  height: auto;
}
main{
  flex: 1 0 auto;
}
$src: '../img/';
$bc: #85b0c2;

.title-pages {
  h2 {
    padding: 0;
    font:34px $fmc;
    color: #0a396d;
    text-align: center;
    @media (max-width: 768px){
      font-size: 30px;
    }
  }
}

.default-btn {
  background-color: rgb(96, 152, 175);
  box-shadow: 0px 2px 1px 0px rgba(32, 95, 121, 0.004);
  width: 240px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  font: 16px/1 $fd;
  color: rgb(254, 254, 254);
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #6098afcc;
  }
  &.no-bg{
    background: #fff;
    border: 1px solid rgb(96, 152, 175);
    color: rgb(96, 152, 175);
  }
  &.disable-btn {
    background-color:#bfd6df;
    pointer-events: none;
  }
}

.btn-small{
  color: #85b0c2;
  background: #fff;
  text-decoration: none;
  border: 1px solid  rgb(95, 151, 174);
  width: 161px;
  border-radius: 30px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 16px/1 $fd;
  transition: 0.2s;
  &:hover{
    background: #6098af;
    color: #fff;
  }
  &.disable-btn {
    pointer-events: none;
    border: 1px  solid #ccd4d7;
    color: #ccd4d7;
  }
  &.no-bg{
    background: #fff;
    border: 1px solid rgb(96, 152, 175);
    color: rgb(96, 152, 175);
  }


}

.decoration-animate{
  position: relative;
  &:before{
    width: 0;
    height: 1px;
    opacity: 0;
    background: initial;
    position: absolute;
    bottom: -1px;
    left: 0;
    content:'';
    transition: 0.2s;
  }

  &:hover{
    &:before{
      width: 100%;
      opacity: 1;
    }

  }
}

.slider-component--button {
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  border-radius: 50%;
  top: 658px;
  width: 125px;
  height: 125px;
  cursor: pointer;
  &:hover {
    background-color: rgb(96, 152, 175);
    border-color: #fff;
  }
  &:before{
    position: absolute;
    width: 18px ;
    height: 18px;
    border-top: 1px solid  $bc;
    border-left: 1px solid  $bc;
    content:'';
    transform: rotate(-45deg);
    left: calc(50% - 9px);
    top: calc(50% - 9px);
  }

  &:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 1px;
    background: $bc;
    left: calc(50% - 20px);
    top: calc(50% - 1px);
  }
}
.arrow-container{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.arrow-prev--component, .arrow-next--component{
    position: relative;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 58px;
    height: 58px;
    margin-top: 0px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 29.44px 2.56px rgba(83, 83, 83, 0.25);
    &:after{
        display: none;
      }
    &:before{
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 12px);
      width: 24px;
      height: 18px;
      background: #9cbfcd;
      content:'';
      background: url("../img/next.png");
      transform: scale(-1);
    }
}
.arrow-next--component{
  &:before{
    transform: scale(1);
  }
}
.before-after-pagination{
  position: relative;
}

.swiper-pagination--component{
  margin: 0 40px;
  position: relative;
  span{
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 50%;
    border: 1px  solid #649bb1;
    margin: 0 4px;
    &.swiper-pagination-bullet-active{
      background:  #649bb1;
    }
  }

}


@keyframes scaleDef {
  0%{
    opacity: 1;
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }

}